* {
  font-family: 'azo-sans-web' !important;
}

body {
  background: url('../img/bg-homepage.png') no-repeat #050327;
  background-position-y: 120px;
  background-size: contain;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto 40px;
  max-width: 700px;
}

h2 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

h3 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto 20px;
  max-width: 500px;
}

h4 {
  color: #fff;
  font-size: 30px;
}

h5 {
  color: #fff;
  font-size: 24px;
}

h6 {
  color: #fff;
  font-size: 26px;
  text-align: left;
}

h7 {
  color: #fff;
  display: block;
  font-size: 28px;
  margin-bottom: 35px;
}

p {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

ul {
  margin-bottom: 0;
  margin-left: 0;
}

li {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
  background: url('../img/icon-tick.svg') no-repeat;
  margin-left: 0;
  text-align: left;
  padding-left: 40px;
  line-height: 40px;
}

a {
  color: #fff;
  font-size: 20px;
}

hr {
  background: url('../img/line.svg') no-repeat;
  border: 0;
  height: 22px;
}


[type=email], [type=text] {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 0;
  padding: 0 20px;
}

.button {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #ff1744;
  color: #201f1f;
  font-weight: bold;
  width: 100%;
}

.button:focus, .button:hover {
  background-color: #fff;
  color: #201f1f;
}

.mail {
  background: url('../img/icon-email.svg') no-repeat center left;
  background-size: 24px 28px;
  padding-left: 40px;
}

.phone {
  background: url('../img/icon-phone.svg') no-repeat center left;
  background-size: 24px 28px;
  padding-left: 40px;
}

.vimeo {
  height: 0;
  margin-bottom: 50px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vimeo iframe, .vimeo object, .vimeo embed {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-bottom {
  width: 40%;
}

::placeholder {
  color: #201f1f;
}

@media screen and (max-width: 39.9375em) {
  body {
    background-position-x: center;
    background-size: 800px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  p, ul, h1, h2, h3, h4, h5, h6, h7 {
    padding: 0 15px;
  }

  .logo-head {
    margin-bottom: 50px;
    width: 40%;
  }

  .services {
    display: none;
  }

  .mail, .phone {
    background-position: center center;
    display: block;
    padding-left: 0;
    padding-top: 50px;
  }

  .logo-bottom {
    padding-bottom: 20px;
    width: 60%;
  }
}
