---
title: Selling Local, Powered by The Sales Rebellion
permalink: /podcast/
section: podcast inverse
heading: "**The Sales Rebellion Podcast.**"
subheading: "Join Dale Dupree and Chris Watson as they discuss ideas, tell sales stories, and share their vision for The Sales Rebellion with you!"
podcast-services:
  - title: Selling Local Podcast on iTunes
    link: "https://podcasts.apple.com/us/podcast/selling-local-stories-tips-service/id1360290531?mt=2"
    image: "/img/podcast-apple.svg"
  - title: Selling Local Podcast on Spotify
    link: "https://open.spotify.com/show/6vggsDkQyAuOgsUciBNj9E"
    image: "/img/podcast-spotify.png"
  - title: Selling Local Podcast on Google Play
    link: "https://play.google.com/music/m/I6nr6unquvf7iq3saaovthqerwu?t=Selling_Local_Stories__Tips__Service"
    image: "/img/podcast-google.svg"
guest-posts:
  - title: "The Sales Rebel"
    podcast: "Sales Leaders"
    link: "https://www.salesleaders.tech/blog/the-sales-rebel"
  - title: "EP.11 Let's Start a Sales Rebellion with Dale Dupree"
    podcast: "The Buyer Enablement Podcast"
    link: "https://anchor.fm/buyer-enablement-pocast/episodes/EP-11-Lets-Start-a-Sales-Rebellion-with-Dale-Dupree-ern5d2"
  - title: "Special Episode - Dale Dupree"
    podcast: "The Sales Dojo's Podcast"
    link: "https://open.spotify.com/episode/5ysKXKaJUPPceAZGAt6tre?si=7pYDDI24RDio6Qj3lZEsHw"
  - title: "The big mistake sellers make today (without knowing they are making it) with Dale Dupree"
    podcast: "BOSS Podcast"
    link: "https://www.buzzsprout.com/1034566/8040658"
  - title: "Dale Dupree, Founder and CEO of The Sales Rebellion"
    podcast: "Tell Me Something Good"
    link: "https://www.youtube.com/watch?v=K8tHMvQvQ6s"
  - title: "Episode 4 feat. Dale Dupree"
    podcast: "The Desk Drop"
    link: "https://www.youtube.com/watch?v=Ue_cL5zF-gk"
  - title: "Ep 1: Dale Dupree | Build, Protect, and Create Generational Legacy"
    podcast: "What Is Your Legacy?"
    link: "https://www.buzzsprout.com/1430443/6526183-ep-1-dale-dupree-build-protect-and-create-generational-legacy"
  - title: "Ep 37 — Creativity and Selling"
    podcast: "See The Solution Podcast"
    link: "https://marcusschaller.com/2021/02/10/ep-37-creativity-and-selling/"
  - title: "#169 - Dale Dupree, on Leading the Sales Rebellion"
    podcast: "Good Advice: Do Business Better with Blake Binns"
    link: "https://blakebinnsofficial.podbean.com/e/169-dale-dupree-on-leading-the-sales-rebellion/"
  - title: "The Sales Rebellion with Dale Dupree"
    podcast: "Live Better. Sell Better."
    link: "https://live-better-sell-better.captivate.fm/episode/the-sales-rebellion-with-dale-dupree"
  - title: "#129: Dale Dupree of The Sales Rebellion — Momentum: A Leader’s Best Friend…and How to Build it"
    podcast: "Sales Leadership Podcast"
    link: "https://salesleaderpodcast.fireside.fm/129"
  - title: "Being a rebel with Dale Dupree"
    podcast: "Unapologetically BOLD: I'm not sorry for..."
    link: "https://podcasts.bcast.fm/e/qn0p115n"
  - title: "Episode #55 S1-EP55 The Sales Rebellion with Dale Dupree"
    podcast: "Sales Hustle"
    link: "https://pod.link/saleshustle/episode/YWFkZjFlYjYtZTNiOC00NDc4LThkOWQtNDQ4YmU5YjJmZjA1"
  - title: "On Sales, Leadership, Depression, and Mental Health with Dale Dupree"
    podcast: "Connection Loop Podcast"
    link: "https://dubb.com/blog/podcast-on-sales-leadership-depression-and-mental-health-with-dale-dupree/"
  - title: "Successfully Rebelling Against Traditional Sales Tactics with Dale Dupree"
    podcast: "Jordan Law"
    link: "https://www.facebook.com/watch/live/?v=2856290524694095"
  - title: "Ep305: Dale Dupree – Do Not Be Tricked Into Taking Shortcuts to Riches"
    podcast: "My Worst Investment Ever Podcast"
    link: "https://myworstinvestmentever.com/ep305-dale-dupree-do-not-be-tricked-into-taking-shortcuts-to-riches/"
  - title: "100: Four Things Your Company Needs to Improve Sales w/ Dale Dupree"
    podcast: "B2B Made Simple"
    link: "https://anchor.fm/sbms/episodes/100-Four-Things-Your-Company-Needs-to-Improve-Sales-w-Dale-Dupree-eo4e19"
  - title: "The highs and lows of life in sales"
    podcast: "Sales Leadership All Access"
    link: "https://podcasts.bcast.fm/e/mn4w2yp8"
  - title: "Has the sales rebellion changed your definition of selling yet? | Interview with Dale Dupree"
    podcast: "Revenue Secrets"
    link: "https://www.youtube.com/watch?v=K0dsid3f9iY"
  - title: "Onboarding a Sales Rebel w/ Dale Dupree"
    podcast: "The Sales Lift"
    link: "https://thesaleslift.com/13-onboarding-a-sales-rebel-w-dale-dupree/"
  - title: "Dale Dupree - Starting the Sales Rebellion"
    podcast: "The Hot Mic @ Arch DevOps"
    link: "https://www.listennotes.com/podcasts/the-hot-mic-arch/dale-dupree-starting-the-uqUCy-6K0xF/"
  - title: "Ep. 124: Dale Dupree"
    podcast: "Bridge the Gap Podcast"
    link: "https://btgvoice.com/ep-124-dale-dupree/"
  - title: "Are You Courageous Enough To Join The Sales Rebellion?"
    podcast: "TheInquisitor Podcast with Marcus Cauchi"
    link: "https://marcuscauchi.podbean.com/e/are-you-courageous-enough-to-join-the-sales-rebellion/"
  - title: "A Boostrapped Sales Rebellion | Dale Dupree | Leader of The Sales Rebellion"
    podcast: "Bootstrapped Growth"
    link: "https://anchor.fm/bootstrappedgrowth/episodes/A-Boostrapped-Sales-Rebellion--Dale-Dupree--Leader-of-The-Sales-Rebellion-egg20j"
  - title: "Empowerful Leader Episode 115 - A Conversation with Dale Dupree"
    podcast: "Empowerful Leader Podcast"
    link: "https://podcasts.apple.com/us/podcast/empowerful-leader-episode-115-conversation-dale-dupree/id1505433863?i=1000483221807"
  - title: "007: The Sales Rebellion - Dale Dupree"
    podcast: "The Sales Vitamin Podcast"
    link: "https://podcasts.apple.com/us/podcast/007-the-sales-rebellion-dale-dupree/id1516565954?i=1000480926443"
  - title: "Dale Dupree - Founder of Sales Rebellion (Training & Coaching)"
    podcast: "The NoDegree Podcast"
    link: "https://www.nodegree.fm/episodes/dale-dupree-founder-of-sales-rebellion-training-coaching-hZsYO8xs"
  - title: "Episode 80 - SEASON 3 FINALE - Dale Dupree, Leader of The Sales Rebellion"
    podcast: "The Lunch Break Podcast"
    link: "https://anchor.fm/thelunchbreakpodcast/episodes/Episode-80---SEASON-3-FINALE---Dale-Dupree--Leader-of-The-Sales-Rebellion-eepndf"
  - title: "Creative Sales Strategies with Dale Dupree"
    podcast: "Future Proof Selling Podcast"
    link: "https://growthacumen.com.au/dale-dupree-creative-sales-strategies-podcast/"
  - title: "Episode #20 – Educating your prospects with Dale Dupree"
    podcast: "Monster Chats"
    link: "https://monstervoip.com/episode-20-educating-your-prospects-with-dale-dupree/"
  - title: "Learn to Sell Like a Rebel with Dale Dupree"
    podcast: "Lead Sell Grow - The Human Experience"
    link: "https://lead-sell-grow-the-human-experience.simplecast.com/episodes/how-to-get-their-attention-be-different-and-close-more-sales-with-dale-dupree-otpYLa42"
  - title: "Episode 7 -- The Sales Rebellion"
    podcast: "Bucket List Living with Brad Norwood"
    link: "https://www.youtube.com/watch?v=kYRJzCteXww"
  - title: "#97: Dale Dupree of The Sales Rebellion — Choose To Be Legendary"
    podcast: "Sales Leadership Podcast"
    link: "https://www.xvoyant.com/resources/97-dale-dupree-of-the-sales-rebellion-choose-to-be-legendary/"
  - title: "Rebelling Against Sales is All That's Left with Dale Dupree"
    podcast: "Humans of LinkedIn"
    link: "https://skymousestudios.com/humans-of-linkedin/rebelling-against-sales-is-all-that-is-left-with-dale-dupree/"
  - title: "It’s About Relationship & Trust, Not About A Number"
    podcast: "B2B Growth"
    link: "https://sweetfishmedia.com/show/b2b-growth/relationship-trust-dale-dupree/"
  - title: "#014: Why Sales Reps NEED To Be Marketing - Dale Dupree"
    podcast: "Sam's Business Growth Show"
    link: "https://anchor.fm/sams-business-growth-show/episodes/014-Why-Sales-Reps-NEED-To-Be-Marketing---Dale-Dupree-ecjcgu"
  - title: "Episode 3: How has tech impacted Sales?"
    podcast: "Tech & Flow Podcast"
    link: "https://open.spotify.com/episode/0ptIzsJFJ2lwjsyUiBSYeg?si=pVxTZ_teSNihSga_xhHqSA"
  - title: "HC036 - The Sales Rebellion - with Dale Dupree"
    podcast: "The Human Conversation - with Jules White"
    link: "https://soundcloud.com/liveitloveitsellit/hc036-the-sales-rebellion-with-dale-dupree"
  - title: "Dale Dupree – How This Dad Is Leading The Sales Rebellion"
    podcast: "Dad the Best I Can Show"
    link: "https://dadthebestican.com/dale-dupree/"
  - title: "60: 4-Part Creative Process for Salespeople w/ Dale Dupree"
    podcast: "The B2B Sales Show"
    link: "http://b2bsales.libsyn.com/60-4-part-creative-process-for-salespeople-w-dale-dupree"
  - title: "Challenging The Status Quo Of The Sales World - Dale Dupree"
    podcast: "CEO Journals with Ethan Bridge"
    link: "https://anchor.fm/ethan-bridge/episodes/Challenging-The-Status-Quo-Of-The-Sales-World---Dale-Dupree-eak6lv"
  - title: "Episode 2 - Pattern interrupt: How to stand out when outreaching, with Dale Dupree, Founder of The Sales Rebellion"
    podcast: "The B2B Sales Podcast"
    link: "https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5jYXB0aXZhdGUuZm0vdGhlLWIyYi1zYWxlcy1wb2RjYXN0Lw%3D%3D"
  - title: "Ep 53: Embrace the Suck"
    podcast: "INSIDE Inside Sales"
    link: "https://www.vanillasoft.com/resource-center/podcast/inside-inside-sales-ep-53-embrace-the-suck"
  - title: "Sales Is About Relationships. Have You Forgotten? With Dale Dupree, Episode #134"
    podcast: "The Modern Selling Podcast"
    link: "https://vengreso.com/blog/sales-is-about-relationships-have-you-forgotten-dale-dupree"
  - title: "Uncommon Sales Success with Dale Dupree"
    podcast: "Span the Chasm"
    link: "https://spanthechasm.com/podcast/uncommon-sales-success-with-dale-dupree/"
  - title: "Dale Dupree, Leader and CEO of the Sales Rebellion"
    podcast: "Tom Roten Morning Show"
    link: "https://www.iheart.com/podcast/512-tom-roten-morning-show-28270078/episode/dale-dupree-leader-and-ceo-of-53770410/"
  - title: "50: How to Reach 30,000 Views on Your LinkedIn Post w/ Dale Dupree"
    podcast: "The B2B Sales Show"
    link: "http://b2bsales.libsyn.com/50-how-to-reach-30000-views-on-your-linkedin-post-w-dale-dupree"
  - title: "David Brier and Dale Dupree"
    podcast: "SALES and BRANDING Unleashed"
    link: "https://www.youtube.com/watch?v=L7RRo4ijrOo"
  - title: "37: Don’t Pitch, Tell a Story w/ Dale Dupree"
    podcast: "The B2B Sales Show"
    link: "http://b2bsales.libsyn.com/37-dont-pitch-tell-a-story-w-dale-dupree"
  - title: "PC. VS. Mac Death Match & Meet Dale Dupree : Founder Of The Sales Rebellion"
    podcast: "The T2 Tech Talk Podcast"
    link: "https://soundcloud.com/t2techtalkpodcast/meet-dale-dupree"
  - title: "Ep. 052 – The Sales Rebellion with Dale Dupree"
    podcast: "Best Selling Podcast"
    link: "http://bestsellingpodcast.com/ep-052-the-sales-rebellion-with-dale-dupree/"
  - title: "EP20 - Why Authenticity Sells"
    podcast: "Coach The Sale"
    link: "https://www.refract.ai/blog/authenticity-sells"
  - title: "Leading a Sales Rebellion with Dale Dupree"
    podcast: "TAG! Sales & Marketing Podcast"
    link: "https://tagteamup.com/49-2/"
  - title: "Sales Tip 275: How to Truly Reach Your True Potential – Dale Dupree"
    podcast: "Daily Sales Tips"
    link: "https://top1.fm/DailySalesTips/sales-tip-275-how-to-truly-reach-your-true-potential-dale-dupree/"
  - title: "Ep 030 – Dale Dupree, more commonly known as The Copier Warrior and is the appointed Leader and Founder of The Sales Rebellion"
    podcast: "Go Big or Go Broke"
    link: "https://cathykarabetsos.com/uncategorized/dale-dupree-more-commonly-known-as-the-copier-warrior-and-is-the-appointed-leader-and-founder-of-the-sales-rebellion/"
  - title: 'Episode #21 - Want To Know How To Stand Out As The "Go To" Sales Person?'
    podcast: "The Personal Branding Coach"
    link: "https://anchor.fm/mary-henderson/episodes/Episode-21---Want-To-Know-How-To-Stand-Out-As-The-Go-To-Sales-Person-e56cb0"
  - title: "Humanise your pipeline, & get better sales with Dale Dupree"
    podcast: "Dream Again Marketing"
    link: "https://www.youtube.com/watch?v=XU-bGbC_cpI"
  - title: "Dale Dupree (Ep.60) - Founder, The Sales Rebellion"
    podcast: "Just Get Started"
    link: "https://shows.pippa.io/justgetstarted/episodes/daledupree"
  - title: "22: Life-Size Cutout w/ Dale Dupree"
    podcast: "How to Get a Meeting With Anyone"
    link: "https://podcasts.apple.com/us/podcast/22-life-size-cutout-w-dale-dupree/id1355846130?i=1000412120795"
  - title: "197: Don’t Be the Weird Uncle - Dale Dupree"
    podcast: "Daily Sales Tips"
    link: "https://open.spotify.com/episode/1xBD9kBK7TJVTmmbWuXRrw"
  - title: "HC036 - The Sales Rebellion - with Dale Dupree"
    podcast: "The Human Conversation Podcast"
    link: "https://podcasts.apple.com/us/podcast/hc036-the-sales-rebellion-with-dale-dupree/id1390248559?i=1000447116723"
  - title: "Episode 73: Dale Dupree – From Top Selling “Copier Warrior” to Leader of the Sales Rebellion (Part 2)"
    podcast: "Sales Success Stories Podcast"
    link: "https://top1.fm/episode-73-dale-dupree-from-top-selling-copier-warrior-to-leader-of-the-sales-rebellion-part-2/"
  - title: "Sales Tip 186: Basic Human Interaction – Dale Dupree"
    podcast: "Daily Sales Tips"
    link: "https://top1.fm/DailySalesTips/sales-tip-186-basic-human-interaction-dale-dupree/"
  - title: "How to converse with a Sales Guru and not talk about sales...with Dale Dupree"
    podcast: "The #AskJoel Show with Joel Wolh"
    link: "https://anchor.fm/joel355/episodes/How-to-converse-with-a-Sales-Guru-and-not-talk-about-sales-----with-Dale-Dupree-e4kobu"
  - title: "Flipping the \"P\" in Sales w/Dale Dupree"
    podcast: "Unleash Possible"
    link: "http://marketingadvisorynetwork.com/resources/unleash-possible-podcast/"
  - title: "The winning attitude of a sales warrior w/Dale Dupree"
    podcast: "SALES Network1"
    link: "https://www.salesnetwork1.com/podcast/episode/376b0726/8-the-winning-attitude-of-a-sales-warrior-withdale-dupree"
  - title: "Episode 09 - Who Taught You HOW To Love?"
    podcast: "The Pursuit of Love"
    link: "https://www.steveclaydon.com/podcast/episode/37a28e83/episode-09-who-taught-you-how-to-love"
  - title: How to get better at cold calling
    podcast: "Freshworks: Uncomplicate"
    link: "https://www.freshworks.com/saas/uncomplicate-how-to-get-better-at-cold-calling-blog/"
  - title: "Episode 71: Dale Dupree – From Top Selling “Copier Warrior” to Leader of the Sales Rebellion (Part 1)"
    podcast: "Sales Success Stories Podcast"
    link: "https://top1.fm/episode-71-the-copier-warrior-with-dale-dupree-part-1/"
  - title: "713: Join The Sales Rebellion, With Dale Dupree"
    podcast: Andy Paul
    link: "https://www.andypaul.com/713-join-the-sales-rebellion-with-dale-dupree/"
  - title: "FAE 005: How to Sell More with Dale Dupree"
    podcast: F&E
    link: "https://freelancersandentrepreneurs.com/episode5/"
  - title: "068 – Give to Get: Breaking Down Real Human Emotion | Dale Dupree"
    podcast: Sales Tuners
    link: "https://www.salestuners.com/dale-dupree/"
  - title: "Seamless.AI"
    podcast: "Dale Dupree: Rockstar Turns Copier Sales Warrior"
    link: "https://www.youtube.com/watch?v=JJKeoHAwItc"
  - title: "Sales Tip 61: Radically Educate – Dale Dupree"
    podcast: Daily Sales Tips
    link: "https://top1.fm/DailySalesTips/sales-tip-61-radically-educate-dale-dupree/"
  - title: "Sales Tip 68: Attention"
    podcast: Daily Sales Tips
    link: "https://top1.fm/DailySalesTips/sales-tip-68-attention-dale-dupree/"
  - title: "Sales Tip 75: Story"
    podcast: Daily Sales Tips
    link: "https://top1.fm/DailySalesTips/sales-tip-75-story-dale-dupree-3-of-5/"
  - title: "Sales Tip 82: Outline"
    podcast: Daily Sales Tips
    link: "https://top1.fm/DailySalesTips/sales-tip-82-outline-dale-dupree-part-4-of-5/"
  - title: "Sales Tip 89: Nuance"
    podcast: Daily Sales Tips
    link: "https://top1.fm/DailySalesTips/sales-tip-89-nuance-dale-dupree-5-of-5/"
  - title: First Impressions With Dale Dupree
    podcast: SalesDNA
    link: "https://salesdna.co/first-impression-with-dale-dupree/"
  - title: "211: Turn Your Pitch Into Your REASON w/ Dale Dupree"
    podcast: The FlipMyFunnel Podcast
    link: http://flipmyfunnel.libsyn.com/211-turn-your-pitch-into-your-reason-w-dale-dupree
  - title: E118 – How to Stop Getting the Cold Shoulder When Cold Calling w/ Dale Dupree
    podcast: Dennis Brown
    link: https://www.askdennisbrown.com/podcast/e118-dale-dupree/
  - title: The Copier Warrior w/Dale Dupree | Episode 025
    podcast: The Cannoli Coach
    link: "https://www.spreaker.com/user/10822032/episode-025"
  - title: The Dreaded Phone
    podcast: ValueSelling Associates
    link: "https://www.valueselling.com/podcast/dreaded-phone"
  - title: Drive Sales by Investing in Your Personal Brand
    podcast: OPERATIX
    link: "http://www.operatix.net/drive-sales-with-your-personal-brand/"
  - title: Creating a Great Customer Experience Around a Hated Office Machine
    podcast: Creative Side Marketing
    link: "http://www.creativesidemarketing.com/blog/creating-great-customer-experience-around-hated-office-machine"
  - title: "TSE 836: Make Social Selling A Part of Your Day to Day Life"
    podcast: The Sales Evangelist
    link: "https://thesalesevangelist.com/episode836/"
  - title: Dale Dupree How to create UNDENIABLE CURIOSITY
    podcast: Sell Anywhere
    link: "http://sellanywhere.libsyn.com/dale-dupree-how-to-create-undeniable-curiosity"
  - title: "“How to Win The Prospecting Game” with Dale Dupree"
    podcast: Spotio
    link: "https://spotio.com/blog/how-to-win-the-prospecting-game/"
  - title: Ep. 51 Sales Lesson because everyone is in Sales with Dale Dupree
    podcast: Mastering College to Career
    link: "https://anchor.fm/masteringcollegetocareer/episodes/Ep--51-Sales-Lesson-because-everyone-is-in-Sales-with-Dale-Dupree-e37041"
  - title: Longing to Learn and Aching To Serve with Special Guest, Dale Dupree
    podcast: Selling from the Heart
    link: "https://www.sellingfromtheheart.net/podcast/longing-to-learn-and-aching-to-serve-with-special-guest-dale-dupree/"
---

<div class="row" style="margin-bottom:40px">
  <div class="column medium-8 medium-offset-2 text-center">
    <h2 style="font-family:lazer84;font-size:80px">More Community Coming Soon...</h2>
  </div>
</div>
<div class="row">
  <div class="column medium-8 medium-offset-2 text-center">
    <h1 class="text-xlarge">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    <p>{{ page.subheading }}</p>
  </div>
</div>
<div class="row small-up-1 large-up-3 text-center" style="margin-bottom:50px;margin-top:50px">
  {% for service in page.podcast-services %}
  <div class="column column-block">
    <a aria-label="{{ service.title }}" href="{{ service.link }}" target="_blank"><img alt="{{ service.title }}" style="margin-bottom:20px;width:200px" src="{{ service.image }}" /></a>
  </div>
  {% endfor %}
</div>
<div class="row" style="margin-bottom:100px">
  <div class="player column medium-8 medium-offset-2">
    <hr />
    <div class="column medium-4">
      <img class="podcast-image" src="/img/podcast-loading.png" alt="Podcast image" />
    </div>
    <div class="column medium-8">
      <h3>Latest Episode</h3>
      <a class="podcast-play"><img id="podcast-state" src="/img/icon-red-play.png" alt="Play button" /></a>
      <audio id="podcast">Your browser does not support the audio element.</audio>
      <div class="podcast-title"></div>
      <p class="podcast-description"></p>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom:100px">
  <div class="column medium-8 medium-offset-2">
    <h2 style="font-size:24px;font-weight:bold">Dale's Guest Appearances.</h2>
    {% for post in page.guest-posts %}
    <div style="margin-bottom:30px">
      <div style="font-size:18px;margin-bottom:10px"><strong>{{ post.podcast }}:</strong> {{ post.title }}</div>
      <a class="special" target="_blank" href="{{ post.link }}">Listen Here!</a>
    </div>
    {% endfor %}
  </div>
</div>
