body {
  background: url('bg-main-image.png') no-repeat #110617;
  background-position-y: 120px;
  background-size: contain;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 30px;
}

h2 {
  color: #fff;
  font-size: 26px;
  text-align: left;
}

h3 {
  color: #fff;
  font-size: 30px;
}

h4 {
  color: #fff;
  font-size: 30px;
}

h5 {
  color: #fff;
  font-size: 24px;
}

h6 {
  color: #fff;
  font-size: 26px;
  text-align: left;
}

h7 {
  color: #fff;
  font-size: 28px;
}

p {
  color: #fff;
  font-size: 20px;
}

ul {
  margin-left: 0;
}

li {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  list-style-image: url('icon-tick.svg');
  list-style-position: inside;
  margin-left: 0;
  text-align: left;
}

a {
  color: #fff;
  font-size: 20px;
}

hr {
  background: url('line.svg') no-repeat;
  border: 0;
  height: 22px;
}


[type=email], [type=text] {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 0;
  padding: 0 20px;
}

.button {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #ff1744;
  color: #201f1f;
  font-weight: bold;
  width: 100%;
}

.mail {
  background: url('icon-email.svg') no-repeat center left;
  background-size: 24px 28px;
  padding-left: 40px;
}

.phone {
  background: url('icon-phone.svg') no-repeat center left;
  background-size: 24px 28px;
  margin-left: 40px;
  padding-left: 40px;
}

::placeholder {
  color: #201f1f;
}
