* {
  font-family: 'azo-sans-web' !important;
}

body {
  background: url('bg-main-image.png') no-repeat #050327;
  background-position-y: 120px;
  background-size: contain;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto 40px;
  max-width: 700px;
}

h2 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

h3 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto 20px;
  max-width: 500px;
}

h4 {
  color: #fff;
  font-size: 30px;
}

h5 {
  color: #fff;
  font-size: 24px;
}

h6 {
  color: #fff;
  font-size: 26px;
  text-align: left;
}

h7 {
  color: #fff;
  display: block;
  font-size: 28px;
  margin-bottom: 35px;
}

p {
  color: #fff;
  font-size: 20px;
  text-align: left;
}

ul {
  margin-bottom: 0;
  margin-left: 0;
}

li {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
  background: url('icon-tick.svg') no-repeat;
  margin-left: 0;
  text-align: left;
  padding-left: 40px;
  line-height: 40px;
}

a {
  color: #fff;
  font-size: 20px;
}

hr {
  background: url('line.svg') no-repeat;
  border: 0;
  height: 22px;
}


[type=email], [type=text] {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 0;
  padding: 0 20px;
}

.button {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #ff1744;
  color: #201f1f;
  font-weight: bold;
  width: 100%;
}

.button:focus, .button:hover {
  background-color: #fff;
  color: #201f1f;
}

.mail {
  background: url('icon-email.svg') no-repeat center left;
  background-size: 24px 28px;
  padding-left: 40px;
}

.phone {
  background: url('icon-phone.svg') no-repeat center left;
  background-size: 24px 28px;
  padding-left: 40px;
}

.vimeo {
  height: 0;
  margin-bottom: 50px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vimeo iframe, .vimeo object, .vimeo embed {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

::placeholder {
  color: #201f1f;
}
