---
layout: page
---
{%- comment -%} --- FEATURES --- {%- endcomment -%}
<section class="section one-x-one__features">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <h2 class="one-x-one__features-heading">
            {%- for line in page.features.heading_lines -%}
                <div class="one-x-one__features-heading-line one-x-one__features-heading-line--{{ forloop.index }}">
                    {{- line -}}
                </div>
            {%- endfor -%}
        </h2>

        <ul class="one-x-one__features-text">
            {%- for item in page.features.items -%}
                <li class="one-x-one__features-text-item">
                    - {{ item }}
                </li>
            {%- endfor -%}
        </ul>

        <p class="one-x-one__features-footer_text">
            {{ page.features.footer_text }}
        </p>

    </div>

    <div class="overlay overlay--bottom"></div>

</section>
