---
layout: page
---
{%- comment -%} --- FEATURES --- {%- endcomment -%}
<section class="section about__features">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <div class="about__features-items">
            {%- for item in page.features.items -%}

                <div class="about__features-item">
                    <h3 class="about__features-item-title">
                        {{- item.title -}}
                    </h3>
                    <div class="about__features-item-text">
                        {{ item.text }}
                    </div>
                </div>
            {%- endfor -%}
        </div>

    </div>

</section>

{%- comment -%} --- VIDEO --- {%- endcomment -%}
<section class="section group-testimonials">

    <div class="container">

        {%- if page.testimonials.heading and page.testimonials.heading.size > 0 -%}
            <h2 class="group-testimonials__heading">{{- page.testimonials.heading -}}</h2>
        {%- endif -%}

        <div class="group-testimonials__content">

            <div class="group-testimonials__video-wrapper video-wrapper">
                {%- include video.html video_id=page.testimonials.video_id -%}
            </div>

        </div>

    </div>

</section>

{%- comment -%} --- CONTACT --- {%- endcomment -%}
{%- include form.html -%}

{%- comment -%} --- FAQ --- {%- endcomment -%}
<section class="section group__faq">

    <div class="container">

        <h2 class="faq__heading group__faq-heading">
            {{- page.faq.heading -}}
        </h2>

        {%- include faq.html faq_items=page.faq.items -%}

    </div>

    <div class="overlay overlay--bottom"></div>

</section>