---
layout: page
---

<div class="landing-page">
    {%- comment -%} --- HERO BACKGROUND --- {%- endcomment -%}
    <div class="landing-page__background">
        <picture>
            <source
                media="(max-width: 768px)"
                srcset="{{ page.hero.image.mobile_path }}"
            />
            <img
                class="landing-page__background--image"
                src="{{ page.hero.image.path }}"
                alt="{{ page.hero.image.alt }}"
            />
        </picture>

        <div class="landing-page__background--overlay"></div>

        {%- comment -%} --- PROMO HEADER --- {%- endcomment -%}
        <header class="landing-page__hero">
            <p class="landing-page__hero--eyebrow">{{ page.hero.eyebrow }}</p>
            <h1 class="landing-page__hero--header">{{ page.hero.heading }}</h1>

            <div class="landing-page__hero--icon bounce">
                {%- include svg/chevron-group.svg -%}
            </div>
        </header>
    </div>

    {%- comment -%} --- FEATURES --- {%- endcomment -%}
    <section class="landing-page__features">
        <h2 class="landing-page__features--header">
            {%- include svg/totality-logo.svg -%}
        </h2>
        <h3 class="landing-page__features--subheader">
            {{ page.features.subheader }}
        </h3>
        <p class="landing-page__features--description">
            {{ page.features.description }}
        </p>

        <div class="landing-page__cta--container">
            <a
                href="{{ page.cta.url }}"
                class="landing-page__cta landing-page__cta--mobile-full"
                href=""
                >{{ page.cta.text }}</a
            >
            <p class="landing-page__cta--copy">{{ page.cta.copy_text }}</p>
            <a
                href="{{ page.cta.url_vip }}"
                class="landing-page__cta landing-page__cta--secondary landing-page__cta--mobile-full"
                href=""
                >{{ page.cta.text_vip }}</a
            >
            <p class="landing-page__cta--copy">{{ page.cta.copy_text_vip }}</p>
            <p class="landing-page__cta--description">
                {{ page.cta.description }}
            </p>
        </div>
    </section>

    {%- comment -%} --- MEETUP --- {%- endcomment -%}
    <section class="landing-page__meetup">
        <div class="landing-page__meetup--container">
            <header class="landing-page__meetup--header">
                <p class="landing-page__meetup--eyebrow">
                    {{ page.meetup.eyebrow }}
                </p>
                <h2 class="landing-page__meetup--title">
                    {{ page.meetup.header }}
                </h2>
                <p class="landing-page__meetup--description">
                    {{ page.meetup.description }}
                </p>
            </header>

            <ul class="landing-page__meetup--features">
                {%- for item in page.meetup.items -%}
                <div class="landing-page__meetup--feature-container">
                    <div class="landing-page__meetup--icon">
                        {%- include svg/pixelarticons_check.svg -%}
                    </div>
                    <li class="landing-page__meetup--feature">
                        {{ item.feature }}
                    </li>
                </div>
                {%- endfor -%}
            </ul>

            <div class="landing-page__cta--container">
                <a
                    href="{{ page.cta.url }}"
                    class="landing-page__cta landing-page__cta--desktop-full desktop-only desktop-only--inline-block"
                    >{{ page.cta.text }}</a
                >
                <p class="landing-page__cta--copy-secondary desktop-only">{{ page.cta.copy_text }}</p>
                <a
                    href="{{ page.cta.url_vip }}"
                    class="landing-page__cta landing-page__cta--secondary landing-page__cta--desktop-full desktop-only desktop-only--inline-block"
                    >{{ page.cta.text_vip }}</a
                >
                <p class="landing-page__cta--copy-secondary desktop-only">{{ page.cta.copy_text_vip }}</p>
            </div>
        </div>
    </section>

    <div class="landing-page__cta--container">
        <a
            href="{{ page.cta.url }}"
            class="landing-page__cta landing-page__cta--mobile-full mobile-only mobile-only--inline-block"
            >{{ page.cta.text }}</a
        >
        <p class="landing-page__cta--copy-secondary mobile-only">{{ page.cta.copy_text }}</p>
        <a
            href="{{ page.cta.url_vip }}"
            class="landing-page__cta landing-page__cta--secondary landing-page__cta--mobile-full mobile-only mobile-only--inline-block"
            >{{ page.cta.text_vip }}</a
        >
        <p class="landing-page__cta--copy-secondary mobile-only">{{ page.cta.copy_text_vip }}</p>
    </div>

    {%- comment -%} --- SPEAKERS --- {%- endcomment -%}
    <section class="landing-page__speakers">
        <div class="landing-page__speakers--icon">
            {%- include svg/chevron-group.svg -%}
        </div>

        <h2 class="landing-page__speakers--header">
            <span>{%- include svg/totality-logo.svg -%}</span>{{ page.speakers.header }}
        </h2>

        <div class="landing-page__speakers--image-wrapper">
            {%- for item in page.speakers.members -%}
            <div class="landing-page__speakers--image-container">
                <img
                    src="{{- item.img.path | relative_url -}}"
                    alt="{{- item.img.alt_text -}}"
                    class="landing-page__team-img"
                />
                <p class="landing-page__speakers--name">{{ item.img.name }}</p>
            </div>
            {%- endfor -%}
        </div>
    </section>

    {%- comment -%} --- FOOTER --- {%- endcomment -%}
    <section class="landing-page__footer">
        <div class="desktop-only">
            {%- include svg/the-sales-rebellion-way.svg -%}
        </div>

        <h2 class="landing-page__footer--header mobile-only">
            {{ page.footer.header }}
        </h2>
        <p class="landing-page__footer--description">
            {{ page.footer.description }}
        </p>

        <div class="landing-page__cta--container">
            <a
                href="{{ page.cta.url }}"
                class="landing-page__cta landing-page__cta--desktop-full desktop-only"
                >{{ page.cta.text }}</a
            >
            <p class="landing-page__cta--copy-secondary desktop-only">{{ page.cta.copy_text }}</p>
            <a
                href="{{ page.cta.url_vip }}"
                class="landing-page__cta landing-page__cta--secondary landing-page__cta--desktop-full desktop-only"
                >{{ page.cta.text_vip }}</a
            >
            <p class="landing-page__cta--copy-secondary desktop-only">{{ page.cta.copy_text_vip }}</p>
        </div>
    </section>

    <div class="landing-page__footer--cta-container">
        <div class="landing-page__cta--container">
            <a
                href="{{ page.cta.url }}"
                class="landing-page__cta landing-page__cta--mobile-full mobile-only"
                >{{ page.cta.text }}</a
            >
            <p class="landing-page__cta--copy-secondary mobile-only">{{ page.cta.copy_text }}</p>
            <a
                href="{{ page.cta.url_vip }}"
                class="landing-page__cta landing-page__cta--secondary landing-page__cta--mobile-full mobile-only"
                >{{ page.cta.text_vip }}</a
            >
            <p class="landing-page__cta--copy-secondary mobile-only">{{ page.cta.copy_text_vip }}</p>
        </div>
    </div>
</div>
