---
layout: page
---
{%- comment -%} --- SLACK --- {%- endcomment -%}
<section class="section resources__slack">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <img src="{{ page.slack.img.path | relative_url }}" alt="{{- page.slack.img.alt_text -}}" class="resources__slack-img">

        <p class="resources__slack-text">
            {{ page.slack.text }}
        </p>

        <div class="resources__slack-cta">
            <a href="{{- page.slack.cta.url -}}" class="resources__slack-btn btn"{% if page.slack.cta.new_tab == true %} target="_blank"{% endif %}>
                {{- page.slack.cta.text -}}
            </a>
        </div>

    </div>

</section>

{%- comment -%} --- CTA --- {%- endcomment -%}
{%- include cta.html cta=page.cta type="page" -%}