---
layout: page
---
{%- comment -%} --- FEATURES --- {%- endcomment -%}
<section class="section teams__features">

    <div class="overlay overlay--top"></div>

    <div class="container">

        {%- for item in page.features.items -%}
            <div class="teams__feature">
                <h2 class="teams__feature-title">
                    {{- item.title -}}
                </h2>

                <div class="teams__feature-text">
                    {{- item.text -}}
                </div>

                <a href="{{- item.button.url -}}" class="teams__feature-btn btn btn--purple"{% if item.button.new_tab == true %} target="_blank"{% endif %}>
                    {{- item.button.text -}}
                </a>
            </div>
        {%- endfor -%}

    </div>

    <div class="overlay overlay--bottom"></div>

</section>

{%- comment -%} --- TESTIMONIAL --- {%- endcomment -%}
<section class="section teams__quote">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <div class="teams__quote-content">
            <div class="teams__quote-content-item teams__quote-image-wrapper">
                <img src="{{- page.quote.image.path | relative_url -}}" alt="{{- page.quote.image.alt_text -}}" class="teams__quote-image">
            </div>
            <div class="teams__quote-content-item teams__quote-text">
                <h3 class="teams__quote-name">
                    {{- page.quote.name -}}
                </h3>
                <p class="teams__quote-desc">
                    {{ page.quote.text }}
                </p>
            </div>
        </div>

    </div>

    <div class="overlay overlay--bottom"></div>

</section>

{%- comment -%} --- DOWNLOADS --- {%- endcomment -%}
<section class="section teams__dl">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <h2 class="teams__dl-heading">
            {{ page.downloads.heading }}
        </h2>

        <div class="teams__dl-items">
            {%- for item in page.downloads.items -%}
                <a href="{{- item.download_path | relative_url -}}" class="teams__dl-item">
                    <img src="{{- item.image.path | relative_url -}}" alt="{{- item.image.alt_text -}}" class="teams__dl-img">
                </a>
            {%- endfor -%}
        </div>

    </div>

    <div class="overlay overlay--bottom"></div>

</section>

{%- comment -%} --- VIDEO - TESTIMONIAL --- {%- endcomment -%}
<section class="section teams__video">

    <div class="overlay overlay--top"></div>

    <div class="container">

        <h2 class="teams__video-heading">
            {{ page.video.heading }}
        </h2>

        <div class="teams__video-video_wrapper video-wrapper">
            {%- include video.html video_id=page.video.video_id -%}
        </div>

    </div>

    <div class="overlay overlay--bottom"></div>

</section>

{%- comment -%} --- CONTACT --- {%- endcomment -%}
{%- include form.html -%}