---
layout: page
---

<div class="landing-page">
    {%- comment -%} --- HERO BACKGROUND --- {%- endcomment -%}
    <div class="landing-page__background">
        <picture>
            <source
                media="(max-width: 768px)"
                srcset="{{ page.hero.image.mobile_path }}"
            />
            <img
                class="landing-page__background--image"
                src="{{ page.hero.image.path }}"
                alt="{{ page.hero.image.alt }}"
            />
        </picture>

        <div class="landing-page__background--overlay"></div>

        {%- comment -%} --- PROMO HEADER --- {%- endcomment -%}
        <header class="landing-page__hero">
            <p class="landing-page__hero--eyebrow">{{ page.hero.eyebrow }}</p>
            <h1 class="landing-page__hero--header">{{ page.hero.heading }}</h1>
        </header>
    </div>
</div>
