<div class="modal micromodal-slide" id="podcasts-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--podcasts" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      <div class="modal-content-content">
        <img src="/img/podcasts-banner.webp" alt="Selling Local Podcast">
        <span class="home-cta__button home-cta__button--span modal__cta-btn">Coming<br>Soon</span>
      </div>
    </div>
  </div>
</div>
