<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 item-title">Hey, read this!</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form id="payment-form">
        <label>
          Email
          <input type="text" id="email" placeholder="you@rebel.com"/></label>
        <div type="text" id="email-errors"></div>
        <h4>Payment</h4>
        <div id="payment-element"></div>
        {% if page.fileSlug == "squadron" %}
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="squadronTC"
          onchange="document.getElementById('submit').disabled = !this.checked;"
        >
        <label class="form-check-label" for="squadronTC">
          <a href="/pdf/squadron-terms-and-conditions.pdf" target="_blank">Squadron Purchase Terms & Conditions</a>
        </label>
        {% endif %}
        <button id="submit" type="submit" class="btn btn-primary" disabled>
          <div class="spinner hidden" id="spinner"></div>
          <span>Pay Now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
  </div>
</div>
