<div class="inverse" style="background-color:#000;padding-bottom:40px;padding-top:60px">
  <div class="row">
    <div class="column medium-3">
      <p>Change the game, and become a legend in your community</p>
      <p style="margin-bottom:20px"><a class="special" href="/">Become a member</a></p>
      <p style="margin-bottom:20px"><a class="special" target="_blank" href="http://join.thesalesrebellion.com/prayer/">Submit a prayer request</a></p>
      <p>
        <a aria-label="The Sales Rebellion Instagram" href="https://www.instagram.com/salesrebellion/"><i class="fab fa-instagram"></i></a>
        <a aria-label="The Sales Rebellion YouTube Channel" href="https://www.youtube.com/channel/UC-BqyrLcd1uRE9zjAZuFDeg"><i class="fab fa-youtube"></i></a>
        <a aria-label="The Sales Rebellion LinkedIn" href="https://www.linkedin.com/company/salesrebellion/"><i class="fab fa-linkedin"></i></a>
        <a aria-label="The Sales Rebellion Facebook" href="https://www.facebook.com/salesrebellion/"><i class="fab fa-facebook"></i></a>
      </p>
    </div>
    <div class="column medium-6"></div>
    <div class="column medium-3">
      <ul class="menu align-right vertical">
        {% for item in site.data.menus.header %}
        {% if item.class == null %}
        <li>
          <a class="{{ item.class }} {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row" style="background-color:#000">
    <div class="column">
      <p style="color:#cacaca;font-size:14px">&copy; 2019 The Sales Rebellion</p>
    </div>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "The Sales Rebellion",
    "legalName" : "The Sales Rebellion",
    "url": "https://www.thesalesrebellion.com",
    "logo": "",
    "foundingDate": "2019",
    "founders": [
      {
        "@type": "Person",
        "name": "Dale Dupree"
      },
      {
        "@type": "Person",
        "name": "Jeff Villegas"
      }
    ],
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Orlando",
      "addressRegion": "FL",
      "postalCode": "32751",
      "addressCountry": "USA"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "customer support",
      "telephone": "[+407-719-2844]",
      "email": "dale@thesalesrebellion.com"
    },
    "sameAs": [
      "https://www.instagram.com/salesrebellion/",
      "https://www.youtube.com/channel/UC-BqyrLcd1uRE9zjAZuFDeg",
      "https://www.linkedin.com/company/salesrebellion/",
      "https://www.facebook.com/salesrebellion/",
      "https://www.twitter.com/salesrebellion"
    ]
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5.1.4/dist/what-input.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/rebellion.js"></script>
<script>
$(document).foundation();
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135473528-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-135473528-1');
</script>
