<footer class="site-footer">

    <div class="container">

        <div class="site-footer__cols">
            <div class="site-footer__col site-footer__col--left">
                <div class="site-footer__social">
                    <a class="site-footer__social-link site-footer__social-link--fb" href="https://www.facebook.com/salesrebellion/" target="_blank">
                        <img src="/img/svg/facebook.svg">
                    </a>
                    <a class="site-footer__social-link site-footer__social-link--in" href="https://www.linkedin.com/company/salesrebellion/" target="_blank">
                      <img src="/img/svg/linkedin.svg">
                    </a>
                    <a class="site-footer__social-link site-footer__social-link--rh" href="https://thesalesrebellion.typeform.com/to/JFkwGN7S">
                        <img src="/img/rebel-refuge-small.webp">
                    </a>
                </div>
                <div class="site-footer__copyright">
                    Copyright &copy; Sales Rebellion {{ "now" | date: "%Y" }}
                </div>
            </div>
            <div class="site-footer__col site-footer__col--middle">
                <p class="site-footer__message">To draw, you must close your eyes and sing.</p>
                <p class="site-footer__note">- Pablo Picasso</p>
            </div>
            <div class="site-footer__col site-footer__col--right">
                <a href="https://thesalesrebellion.typeform.com/to/JFkwGN7S" class="site-footer__cta btn btn--blue">
                    Submit a prayer request
                </a>
            </div>
        </div>

    </div>

</footer>
