<footer class="site-footer">

    <div class="container">

        <div class="site-footer__cols">
            <div class="site-footer__col site-footer__col--left">
                <div class="site-footer__social">
                    <a class="site-footer__social-link site-footer__social-link--fb" href="https://www.facebook.com/salesrebellion/" target="_blank">
                        {%- include svg/facebook.svg -%}
                    </a>
                    <a class="site-footer__social-link site-footer__social-link--in" href="https://www.linkedin.com/company/salesrebellion/" target="_blank">
                        {%- include svg/linkedin.svg -%}
                    </a>
                </div>
            </div>
            <div class="site-footer__col site-footer__col--middle"></div>
            <div class="site-footer__col site-footer__col--right"></div>
        </div>

    </div>

</footer>