<section class="section form form--{{ page_id }}">

    <div class="container">

        <h2 class="form__heading">
            {{ contact.heading }}
        </h2>

        <div class="form__form_wrapper">

        {%- if pipedrive_bot -%}

            <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/{{ pipedrive_bot }}">
              <script src="https://webforms.pipedrive.com/f/loader"></script>
            </div>

        {% endif %}

        </div>

    </div>

</section>
