<header class="site-header">

    <div class="container">

        <div class="site-header__logo">
            <a href="{{- '/' | relative_url -}}">
                <img src="{{- '/assets/images/logo.png' -}}" alt="Sales Rebellion Home page">
            </a>
        </div>

        <nav id="menu" class="menu">
            <ul class="menu__items">
                <li class="menu__item menu__item--mobile">
                    <a href="{{- '/' | relative_url -}}" class="menu__link">
                        <img src="{{- '/assets/images/logo.png' -}}" alt="Sales Rebellion Home page">
                    </a>
                </li>
                {%- for item in site.data.navigation.items -%}
                    <li class="menu__item">
                        <a href="{{- item.url | relative_url -}}" class="menu__link menu__link--{{ item.glow_in }}{% if item.url == page.url %} menu__link--active{% endif %}">
                            {{- item.name | upcase -}}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </nav>
        <div id="menu__burger" class="menu__burger">
            {%- include svg/burger.svg -%}
        </div>
        <div id="menu__close" class="menu__close">
            {%- include svg/close.svg -%}
        </div>

    </div>

</header>