<div class="hero__content">

    <div class="hero__container">
        <div class="container">

            <div class="hero__cols">

                <div class="hero__col hero__col--left">

                    <h1 class="hero__heading">
                        {{ page.hero.heading | upcase }}
                    </h1>

                    <div class="hero__text">
                        {{ page.hero.text | markdownify }}
                    </div>

                </div>

                <div class="hero__col hero__col--right">
                    <div class="hero__aside">
                        <h2 class="hero__aside-heading">
                            {{ page.hero.aside.heading.line_1 }}
                            {%- if page.hero.aside.heading.line_1 and page.hero.aside.heading.line_1.size > 0 -%}
                                <br>{{ page.hero.aside.heading.line_2 }}
                            {%- endif -%}
                        </h2>
                        <div class="hero__aside-text">
                            {{ page.hero.aside.text | markdownify }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>