<div class="hero__content">

    <div class="hero__container">
        <div class="container">

            <div class="hero__cols">

                <div class="hero__col hero__col--left">

                    <h1 class="hero__heading">
                        {{ page.hero.heading | upcase }}
                    </h1>

                    <div class="hero__text">
                        {{ page.hero.text | markdownify }}
                    </div>

                </div>

                <div class="hero__col hero__col--right"></div>

            </div>

        </div>
    </div>


</div>