<div style="background:linear-gradient(to bottom, #fff 0%, #fff 50%, #000 51%, #000 100%) #000">
  <div class="row medium-8 medium-offset-2 inverse">
    <div class="column" style="background:#050327;padding:50px 0">
      <h2 class="text-center background-text" style="background-image:url('/img/sales-legend.svg');font-size:28px;margin:0 auto 30px;max-width:600px"><strong>The Rebellion is here to stand alongside you,</strong> arms locked, ready to write the next chapter of your sales legend… JOIN NOW!</h2>
      <a class="button" href="/join/">Join the Rebellion</a>
    </div>
  </div>
</div>
