@font-face {
    font-family: 'Lazer84';
    src: url('/fonts/lazer84.woff') format('woff'),
         url('/fonts/lazer84.ttf') format('truetype');
}

@font-face {
    font-family: 'Big Noodle Titling';
    src: url('/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: 'Big Noodle Titling Oblique';
    src: url('/fonts/big_noodle_titling_oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('/fonts/Franklin-Gothic-Condensed.ttf') format('truetype'),
         url('/fonts/Franklin-Gothic-Condensed.otf') format('opentype');
}

@font-face {
    font-family: 'Kufam';
    src: url('/fonts/Kufam-VariableFont_wght.ttf') format('truetype');
}
