.form {

    // background-image: url(/img/team-downloads-bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;

    // &--1x1 {
    //     background-image: url(/img/1x1-form-bg.jpg);
    //     background-attachment: fixed;
    //     background-position: center;
    // }

    &--teams {
        padding-bottom: 120px;
    }

    &--group {
        // background-image: none;
        .overlay--top,
        .overlay--bottom {
            display: none;
        }
    }

    padding-top: 50px;
    padding-bottom: 50px;

    &__heading {
        @include lazer;
        text-align: center;
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 1.4;
        margin-bottom: 40px;
        @include breakpoint(small) {
            font-size: 30px;
        }
    }

    // &__form_wrapper {
    //     & > div:first-child {
    //         box-shadow: 0 14px 24px -12px $purple;
    //     }
    // }

}
