.hero {

    background-image: url(/assets/images/hero_space_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;

        .container {
            margin-right: 0;
        }
    }

    &__content {
        color: #fff;
        padding: 50px 0;
        background-image: url(/assets/images/grid_and_sun.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__heading {
        font-family: 'Lazer84';
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 1.3;
        margin-bottom: 8px;
        text-shadow: 2px 2px 20px #000;
        @include breakpoint(large) {
            font-size: 48px;
        }
    }

    &__text {
        font-family: 'Big Noodle Titling';
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 1px;
        text-shadow: 0 0 24px #000;
        p {
            margin-top: 0;
        }
        @include breakpoint(large) {
            font-size: 18px;
        }
    }

    &__cols {
        display: flex;
        padding: 0 20px;
    }

    &__col {
        flex: 1;
        display: flex;
        &--left {
            flex-direction: column;
            padding-right: 20px;
            flex-basis: 45%;
        }
        &--right {
            align-items: center;
            flex-basis: 60%;
        }
    }

    &__aside {
        font-family: 'Big Noodle Titling';
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 1px;
        text-shadow: 0 0 24px #000;
        text-align: center;
        font-weight: 400;
        max-width: 302px;

        @include breakpoint(large) {
            font-size: 18px;
        }

        &-heading {
            font-size: 24px;
            font-weight: 400;

            @include breakpoint(large) {
                font-size: 20px;
            }
        }
    }

    &__person {
        position: relative;
        left: -5%;
    }

    &__cta {

        &-section {
            margin-top: 50px;
        }

        &-item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            $border-radius: 40px;
            display: inline-block;
            font-family: 'Lazer84';
            font-weight: 400;
            font-size: 24px;
            color: #e7e9ff;
            letter-spacing: 2px;
            border: 6px solid #e7e9ff;
            padding: 10px 25px;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            text-shadow:
                0 0 7px #000,
                0 0 25px #000,
                0 0 45px #000,
                0 0 100px #000;
            span {
                margin-right: 0.6em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

}