.hero {

    &--home {
        background-image: url(/assets/images/hero_space_bg.jpg);
    }

    &--teams {
        background-image: url(/assets/images/team-hero-bg.jpg);
    }

    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;

        &--page {
            padding-left: 20px;
            padding-right: 20px;
        }

        .container {
            margin-right: 0;
        }
    }

    &__content-wrapper {
        &--teams {
            text-align: center;
        }
    }

    &__content {
        color: #fff;
        padding: 50px 0;
        padding-bottom: 160px;
        background-repeat: no-repeat;
        background-size: cover;

        &--home {
            background-image: url(/assets/images/grid_and_sun.png);
        }

        &--teams {
            background-image: url(/assets/images/grid-green-bg.png);
            background-position-y: 320px;
            padding-bottom: 260px;
            @include breakpoint(medium) {
                background-image: url(/assets/images/grid-green-bg-small.png);
                background-position-y: 420px;
                padding-bottom: 360px;
                background-size: contain;
            }
            @include breakpoint(small) {
                background-position-y: 520px;
            }
        }

        @include breakpoint(medium) {
            &--home {
                background-image: url(/assets/images/grid_and_sun_small.png);
                background-position: center 300px;
            }
        }
    }

    &__heading {
        font-family: 'Lazer84';
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 1.3;
        margin-bottom: 8px;
        text-shadow: 2px 2px 20px #000;
        @include breakpoint(large) {
            font-size: 48px;
        }

        &--teams {
            font-size: 70px;
            @include breakpoint(large) {
                font-size: 55px;
            }
            @include breakpoint(small) {
                font-size: 48px;
            }
            @include breakpoint(smaller) {
                font-size: 36px;
            }
        }
    }

    &__text {
        font-family: 'Big Noodle Titling';
        font-size: 22px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-shadow: 0 0 24px #000;
        p {
            margin-top: 0;
        }
        &--teams {
            margin-top: 20px;
            font-size: 26px;
            line-height: 1.4;
        }
        @include breakpoint(large) {
            font-size: 18px;
        }
    }

    &__cols {
        display: flex;
        padding: 0 20px;

        @include breakpoint(medium) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0;
        }
    }

    &__col {
        flex: 1;
        display: flex;
        &--left {
            flex-direction: column;
            padding-right: 20px;
            flex-basis: 45%;
            @include breakpoint(larger) {
                flex: 1;
            }
            @include breakpoint(medium) {
                padding: 0;
            }
        }
        &--right {
            align-items: center;
            flex-basis: 60%;
            @include breakpoint(larger) {
                flex: 1;
                align-items: flex-start;
                padding-top: 50px;
            }
            @include breakpoint(medium) {
                align-items: center;
                justify-content: center;
            }
            @include breakpoint(smaller) {
                flex-direction: column;
                padding-top: 30px;
            }
        }
    }

    &__aside {
        font-family: 'Big Noodle Titling';
        font-size: 20px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-shadow: 0 0 24px #000;
        text-align: center;
        font-weight: 400;
        max-width: 302px;

        @include breakpoint(large) {
            font-size: 18px;
        }

        @include breakpoint(medium) {
            flex-basis: 60%;
        }

        &-heading {
            font-size: 24px;
            font-weight: 400;

            @include breakpoint(large) {
                font-size: 20px;
            }
        }
    }

    &__person {
        position: relative;
        left: -5%;
        @include breakpoint(medium) {
            flex-basis: 40%;
        }
        @include breakpoint(smaller) {
            position: static;
            img {
                width: 80%;
            }
        }
    }

    &__cta {

        &-section {
            margin-top: 50px;
            @include breakpoint(medium) {
                margin-top: 25px;
            }
        }

        &-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            $border-radius: 40px;
            display: inline-block;
            font-family: 'Lazer84';
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            letter-spacing: 2px;
            text-align: center;
            border: 6px solid #fff;
            padding: 10px 25px;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            text-shadow:
                0 0 7px #000,
                0 0 25px #000,
                0 0 45px #000,
                0 0 100px #000;
            transition: text-shadow .1s ease-in, box-shadow .1s ease-in;

            &--green {
                &:hover {
                    text-shadow: 2px 3px 24px $green;
                    box-shadow:
                        0 0 10px 1px $green,
                        inset 0 0 10px 1px $green;
                }
            }
            &--blue {
                &:hover {
                    text-shadow: 2px 3px 24px $blue;
                    box-shadow: 0 0 10px 1px $blue;
                }
            }

            span {
                margin-right: 0.6em;
                &:last-child {
                    margin-right: 0;
                }
            }

            @include breakpoint(medium) {
                border-width: 3px;
                border-radius: 16px;
                min-width: 230px;
            }
        }

        &-btn {
            display: inline-block;
            line-height: 1.2;
            background: rgba(0,0,0,.7);
            &--teams {
                font-size: 35px;
                padding: 12px 70px;
                @include btn_box_shadow($green);
                &:hover {
                    @include btn_glow_in($green);
                }
                @include breakpoint(small) {
                    font-size: 28px;
                    padding: 10px 60px;
                }
            }
        }

    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
        z-index: 1;
    }

}