.hero {

    background-image: url(/assets/images/hero_space_bg.jpg);

    // &--home {
    //     background-image: url(/assets/images/hero_space_bg.jpg);
    // }

    // &--teams {
    //     background-image: url(/assets/images/hero_space_bg.jpg);
    // }

    // &--1x1 {
    //     background-image: url(/assets/images/hero_space_bg.jpg);
    // }

    // &--group,
    // &--about,
    // &--404 {
    //     background-image: url(/assets/images/hero_space_bg.jpg);
    // }

    // &--resources {
    //     background-image: url(/assets/images/resources-hero-bg.jpg);
    // }

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    &__container-wrapper {
        padding: 0 40px;
    }

    &__container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;

        &--page {
            padding-left: 20px;
            padding-right: 20px;
        }

        &--teams {
            max-width: 1600px;
            padding-left: 250px;
            @media screen and (max-width: 1550px) {
                padding-left: 200px;
            }
            @media screen and (max-width: 1500px) {
                padding-left: 150px;
            }
            @media screen and (max-width: 1400px) {
                padding-left: 100px;
            }
            @media screen and (max-width: 1350px) {
                padding-left: 50px;
            }
            @media screen and (max-width: 1200px) {
                padding-left: 0;
            }
            @include breakpoint(medium) {
                padding: 0;
            }
        }

        &--1x1 {
            max-width: 1600px;
            padding-left: 250px;
            @media screen and (max-width: 1600px) {
                padding-left: 200px;
            }
            @media screen and (max-width: 1500px) {
                padding-left: 150px;
            }
            @media screen and (max-width: 1400px) {
                padding-left: 100px;
            }
            @media screen and (max-width: 1350px) {
                padding-left: 50px;
            }
            @media screen and (max-width: 1200px) {
                padding-left: 0;
            }
            @include breakpoint(medium) {
                padding: 0;
            }
        }

        &--group,
        &--about,
        &--resources,
        &--404 {
            max-width: 1000px;
        }

        &--resources {
            padding-left: 0;
            padding-right: 0;
        }

        .container {
            margin-right: 0;
        }
    }

    &__content-wrapper {
        &--teams,
        &--group,
        &--about,
        &--resources {
            text-align: center;
        }
    }

    &__content {
        color: #fff;
        padding: 50px 0;
        padding-bottom: 160px;
        background-repeat: no-repeat;
        background-size: cover;

        &--home {
            background-image: url(/assets/images/grid_and_sun.png);
            background-position-y: 100px;
            background-attachment: fixed;
            @include breakpoint(large) {
                padding-top: 30px;
            }
            @include breakpoint(small) {
                padding-top: 20px;
            }
        }

        &--teams {
            @include page_hero_grid_bg('/assets/images/grid-green-bg.png', '/assets/images/grid-green-bg-small.png');
            background-attachment: fixed;
            background-position-y: 430px;
            padding-top: 60px;
        }

        &--1x1 {
            @include page_hero_grid_bg('/assets/images/grid-blue-bg.png', '/assets/images/grid-blue-bg-small.png');
            background-attachment: fixed;
            background-position-y: 500px;
        }

        &--group {
            @include breakpoint(medium) {
                padding-bottom: 340px;
                background-image: url(/assets/images/ringed-planet.png);
                background-size: 600px;
                background-position: 150px 350px;
            }
        }

        &--about {
            padding-bottom: 120px;
            @include breakpoint(smallish) {
                padding-bottom: 100px;
            }
        }

        &--resources {
            padding-bottom: 100px;
        }

        @include breakpoint(medium) {
            &--home {
                background-image: url(/assets/images/grid_and_sun_small.png);
                background-position: center 300px;
            }
        }
    }

    &__heading {
        @include lazer;
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 1.3;
        margin-top: 0;
        margin-bottom: 8px;
        @include black_text_shadow;
        @include breakpoint(large) {
            font-size: 48px;
        }

        &--page {
            font-size: 65px;
            @include breakpoint(large) {
                font-size: 55px;
            }
            @include breakpoint(small) {
                font-size: 48px;
            }
            @include breakpoint(smaller) {
                font-size: 36px;
            }
        }

        &--teams {
            font-size: 65px;
            @include breakpoint(larger) {
                font-size: 60px;
            }
            @include breakpoint(large) {
                font-size: 55px;
            }
            @include breakpoint(small) {
                font-size: 48px;
            }
            @include breakpoint(smaller) {
                font-size: 36px;
            }
        }

        &--1x1 {
            font-size: 65px;
            @media screen and (max-width: 1600px) {
                font-size: 60px;
            }
            @include breakpoint(large) {
                font-size: 55px;
            }
            @include breakpoint(small) {
                font-size: 48px;
            }
            @include breakpoint(smaller) {
                font-size: 36px;
            }
        }

        &--group {
            font-size: 60px;
            line-height: 1.35;
            @include breakpoint(large) {
                font-size: 50px;
            }
            @include breakpoint(small) {
                font-size: 45px;
            }
            @include breakpoint(smaller) {
                font-size: 40px;
            }
        }

        &--about {
            @include breakpoint(smallish) {
                font-family: 'Franklin Gothic';
                color: #ffe81f;
                font-size: 45px;
                text-transform: uppercase;
                line-height: 1.2;
                span {
                    margin: 0;
                    &:after {
                        content: '';
                        margin: 0;
                    }
                }
            }
        }

        &--resources {
            font-size: 50px;
            line-height: 1.35;
            margin-bottom: 36px;
            @include breakpoint(small) {
                font-size: 45px;
            }
            @include breakpoint(smaller) {
                font-size: 40px;
            }
        }

        &--404 {
            margin-top: 50px;
            font-size: 28px;
            text-align: center;
        }

    }

    &__text {
        @include noodle;
        font-size: 22px;
        line-height: 1.25;
        letter-spacing: 1px;
        @include black_text_shadow;

        p {
            margin-top: 0;
            margin-bottom: .4em;
        }

        strong,
        b {
            font-family: 'Big Noodle Titling Oblique';
            color: $blue;
            text-shadow: 0 0 10px #000, 0 0 16px #fff, 0 0 20px $blue;
        }

        &--page {
            margin-top: 20px;
            font-size: 26px;
            line-height: 1.4;
        }

        &--teams,
        &--1x1 {
            max-width: 500px;
            @include breakpoint(medium) {
                margin-left: auto;
                margin-right: auto;
            };
        }

        &--group {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        &--about {
            margin-top: 30px;
            font-size: 24px;
            @include breakpoint(smallish) {
                font-family: 'Franklin Gothic';
                color: #ffe81f;
                text-align: justify;
                font-size: 22px;
                font-weight: 300;
                line-height: 1.5;
                strong,
                b {
                    font-family: 'Franklin Gothic';
                    color: #ffe81f;
                    font-style: oblique;
                    text-shadow: none;
                }
            }
        }
    }

    &__cols {
        display: flex;
        padding: 0 20px;

        @include breakpoint(medium) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0;
        }

        &--teams,
        &--1x1 {
            padding: 0;
        }

        &--1x1 {
            display: block;
            position: relative;
            @media screen and (max-width: 1600px) {
                display: flex;
                position: static;
            }
        }
    }

    &__col {
        flex: 1;
        display: flex;
        &--left {
            flex-direction: column;
            padding-right: 20px;
            flex-basis: 45%;
            @include breakpoint(larger) {
                flex: 1;
            }
            @include breakpoint(medium) {
                padding: 0;
            }

            &--teams {
                flex-direction: column;
                flex-basis: 50%;
                @include breakpoint(larger) {
                    flex-direction: column;
                    padding-right: 10%;
                    @include breakpoint(large) {
                        padding-right: 20px;
                    }
                }
                @include breakpoint(medium) {
                    // order: 2;
                    padding-bottom: 50px;
                }
            }

            &--1x1 {
                flex-basis: 55%;
                @include breakpoint(larger) {
                    flex-basis: 50%;
                }
                @include breakpoint(semi_large) {
                    flex-basis: 65%;;
                }
            }
        }

        &--right {
            align-items: center;
            flex-basis: 60%;
            @include breakpoint(larger) {
                flex: 1;
                padding-top: 50px;
            }
            @include breakpoint(large) {
                flex-direction: column;
                padding-top: 0;
            }
            @include breakpoint(medium) {
                align-items: center;
                justify-content: center;
                padding-top: 40px;
            }
            @include breakpoint(smaller) {
                flex-direction: column;
                padding-top: 30px;
            }

            &--teams {
                flex-direction: row;
                flex-basis: 50%;
                align-items: center;
                justify-content: flex-end;
                padding-left: 20px;
                @include breakpoint(larger) {
                    flex-direction: column;
                    flex: 1;
                    padding-left: 0;
                    padding-top: 0;
                }
                @include breakpoint(medium) {
                    order: 1;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &--1x1 {
                padding-left: 0;
                flex-basis: 60%;
                justify-content: flex-end;
                position: absolute;
                right: 0;
                top: 40%;

                @media screen and (max-width: 1600px) {
                    position: static;
                }

                @include breakpoint(larger) {
                    flex-basis: 50%;
                    padding-left: 0;
                    padding-top: 0;
                    flex-direction: column;
                }
                @include breakpoint(semi_large) {
                    flex-basis: 40%;
                    padding-left: 20px;
                }
                @include breakpoint(medium) {
                    padding-left: 0;
                    padding-top: 50px;
                }
            }
        }
    }

    &__aside {
        @include noodle;
        @include black_text_shadow;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;
        max-width: 302px;

        @include breakpoint(larger) {
            order: 2;
        }

        @include breakpoint(medium) {
            flex-basis: 60%;
        }

        &--teams {
            max-width: 240px;
            @include breakpoint(larger) {
                max-width: unset;
            }
            @include breakpoint(medium) {
                max-width: 320px;
            }
        }

        &-heading {
            font-size: 28px;
            font-weight: 400;

            &--teams,
            &--1x1 {
                @include breakpoint(medium) {
                    margin-top: 0;
                    margin-bottom: 12px;
                }
            }
        }

        &-text {
            &--teams,
            &--1x1 {
                p {
                    @include breakpoint(medium) {
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                }
            }
        }

        &--1x1 {
            position: relative;
            left: 40px;
            @media screen and (max-width: 1600px) {
                position: static;
            }
        }
    }

    &__person {
        position: relative;
        left: -5%;

        &--teams {
            position: static;
        }

        @include breakpoint(large) {
            order: 1;
            left: 0;
        }
        @include breakpoint(medium) {
            flex-basis: 40%;
        }
        @include breakpoint(smaller) {
            position: static;
            img {
                width: 80%;
            }
        }

        &-img {
            @include breakpoint(large) {
                max-width: 280px;
            }

            &--teams {
                max-width: 330px;
            }

            &--1x1 {
                max-width: 350px;
            }

            &--teams,
            &--1x1 {
                @include breakpoint(larger) {
                    max-width: 300px;
                }
            }
        }

        &--teams {
            @include breakpoint(larger) {
                order: 1;
                left: 0;
            }
        }

        &--1x1 {
            position: static;
        }
    }

    &__cta {

        margin-top: 40px;

        &-section {
            margin-top: 50px;
            @include breakpoint(medium) {
                margin-top: 25px;
            }
            @include breakpoint(large) {
                display: none;
            }
            &--mobile {
                display: none;
                @include breakpoint(large) {
                    display: block;
                    order: 3;
                }
            }
        }

        &-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            $border-radius: 40px;
            display: inline-block;
            @include lazer;
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            letter-spacing: 2px;
            text-align: center;
            border: 6px solid #fff;
            padding: 10px 25px;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            text-shadow:
                0 0 7px #000,
                0 0 25px #000,
                0 0 45px #000,
                0 0 100px #000;
            transition: text-shadow .1s ease-in, box-shadow .1s ease-in;

            &--green {
                &:hover {
                    text-shadow: 2px 3px 24px $green;
                    box-shadow:
                        0 0 10px 1px $green,
                        inset 0 0 10px 1px $green;
                }
            }
            &--blue {
                &:hover {
                    text-shadow: 2px 3px 24px $blue;
                    box-shadow: 0 0 10px 1px $blue;
                }
            }

            span {
                margin-right: 0.6em;
                &:last-child {
                    margin-right: 0;
                }
            }

            @include breakpoint(medium) {
                border-width: 3px;
                border-radius: 16px;
                min-width: 230px;
            }
        }

        &-btn {
            display: inline-block;
            line-height: 1.2;
            background: rgba(0,0,0,.7);
            &--page {
                font-size: 35px;
                padding: 12px 70px;
                @include breakpoint(small) {
                    font-size: 28px;
                    padding: 10px 60px;
                }
            }
            &--teams {
                @include btn_box_shadow($neon_green, 40px);
                border-color: #fff;
                border-width: 6px;
                border-radius: 26px;
                padding: 12px 32px;
                &:hover {
                    @include btn_box_shadow($neon_green, 40px);
                    border-color: #fff;
                    border-width: 6px;
                    border-radius: 26px;
                    text-shadow: 2px 3px 18px $neon_green;
                }
            }
            &--1x1 {
                font-size: 28px;
                letter-spacing: 2px;
                padding: 26px 32px;
                @include btn_box_shadow($blue);
                &:hover {
                    @include btn_glow_in($blue);
                }
                @include breakpoint(medium) {
                    font-size: 22px;
                }
                @include breakpoint(small) {
                    padding: 20px 24px;
                }
            }
            &--group {
                font-size: 28px;
                letter-spacing: 2px;
                padding: 18px 22px;
                line-height: 1.5;
                @include btn_box_shadow($purple);
                &:hover {
                    @include btn_glow_in($purple);
                }
                @include breakpoint(medium) {
                    font-size: 22px;
                }
                @include breakpoint(small) {
                    padding: 20px;
                }
            }
        }

        &--teams,
        &--1x1 {
            @include breakpoint(medium) {
                display: none;
            }
            &--mobile {
                display: none;
                @include breakpoint(medium) {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    order: 3;
                };
            }
        }

    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
        z-index: 1;
    }

}