.menu {

    &__items {
        list-style: none;
        display: flex;
    }

    &__item {
        font-family: 'Lazer84';
        font-size: 24px;
        margin: 0 24px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-shadow: 0 0 24px red;
    }

}