.menu {

    &__items {
        list-style: none;
        display: flex;
    }

    &__item {
        font-family: 'Lazer84';
        font-size: 24px;
        margin: 0 24px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: #fff;
        letter-spacing: 1px;
        transition: text-shadow .1s linear;
        &--green {
            &:hover {
                @include glow_in($green);
            }
        }
        &--blue {
            &:hover {
                @include glow_in($blue);
            }
        }
        &--purple {
            &:hover {
                @include glow_in($purple);
            }
        }
        &--red {
            &:hover {
                @include glow_in($red);
            }
        }
        &--yellow {
            &:hover {
                @include glow_in($yellow);
            }
        }
    }

}