.page {

    &__content {

        position: relative;

        background-image: url(/assets/images/group-content-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

    }

}