.page {

    &__content {

        position: relative;

        &--group,
        &--about {
            background-image: url(/assets/images/group-content-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }


    }

}