.site-header {

	padding-top: 36px;

	@include breakpoint(medium) {
		padding-top: 16px;
	}


	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(medium) {
			position: relative;
		}
	}

	&__dates {
		text-align: end;

		&--date-range {
			color: $light_green;
			@include noodle;
			font-size: 40px;
			line-height: 130%;

			@include breakpoint(medium) {
				font-size: 26px;
			}
		}

		&--month-year {
			color: $neon_pink;
			@include noodle;
			font-size: 40px;
			line-height: 130%;

			@include breakpoint(medium) {
				font-size: 26px;
			}
		}

		&--location {
			color: $light-green;
			@include noodle;
			font-size: 40px;
			line-height: 130%;

			@include breakpoint(medium) {
				font-size: 26px;
			}
    }
	}

	&__logo {
		max-width: 100px;
		@include breakpoint(small) {
			max-width: 85px;
		}
	}
}
