.font-kufam {
  font-family: "Kufam", sans-serif;
}

.site-footer {
  padding: 80px 40px;

  .text-green {
    color: $light_green;
  }

  .btn-footer {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    padding: 10px 20px;
    border-radius: 8px;
    line-height: normal;
    align-self: flex-start;
  }

  .btn-footer:hover {
    background-color: $light_green;
    border: 1px solid $light_green;
    color: $black;
  }

  .footer-inner {
    border: 2px solid;
    border-image: linear-gradient(90deg, $white, $dark_purple) 1;
    gap: 100px;
    padding: 60px;
    max-width: 1265px;

    .footer-left {
      flex-basis: 29%;

      p {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.125rem;
        text-wrap: pretty;
      }

      img {
        width: 100px;
        height: auto;
        margin-bottom: 40px;
      }
    }

    .footer-right {
      flex-basis: 62%;

      .footer-nav-column {
        gap: 23px;

      .nav-header {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.375rem;

        &[href]:hover {
          text-shadow: 1px 0 0 $light_green;
        }
      }

        .nav-link {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;

          &:hover {
            text-shadow: 1px 0 0 $white;
          }
        }
      }

      .contact {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.375rem;
        gap: 23px;
      }
    }
  }

  @media (max-width: 1300px) {
    nav {
      gap: 40px;
    }

    .footer-left {
      min-width: 230px;
    }

    .footer-right > nav > .d-flex {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    padding: 60px 16px;

    .footer-inner {
      padding: 20px;
      gap: 40px;

      .footer-right {
        width: 100%;

        nav {
          > .d-flex {
            flex-basis: 33%;
          }

          .footer-nav-column {
            gap: 16px;

            .nav-header {
              font-size: 0.75rem;
              line-height: 1.25rem;
            }

            .nav-link {
              font-size: 0.75rem;
              line-height: 1.25rem;
            }
          }

          .contact {
            font-size: 0.75rem;
            font-weight: 600;
            line-height: 1.25rem;
            gap: 20px;
            width: 100%;
          }
        }
      }
    }
  }
}
