.site-footer {

    padding: 50px 0;

    &__social {

        &-link {
            display: inline-block;
            margin-right: 16px;

            svg {
                fill: #fff;
                width: 40px;
                height: auto;
            }
        }

    }

}