$green: #7affdc;
$blue: #7ab8ff;
$purple: #f77aff;
$red: #ff887a;
$yellow: #fdff7a;

$colors: 'green', 'blue', 'purple', 'red', 'yellow';


@mixin breakpoint($point) {
    @if $point == larger {
        @media (max-width: 1200px) { @content; }
    }
    @if $point == semi_large {
        @media (max-width: 1120px) { @content; }
    }
    @if $point == large {
        @media (max-width: 990px) { @content; }
    }
    @if $point == medium {
        @media (max-width: 768px) { @content; }
    }
    @else if $point == smallish {
        @media (max-width: 610px) { @content; }
    }
    @else if $point == small {
        @media (max-width: 576px) { @content; }
    }
    @else if $point == smaller {
        @media (max-width: 425px) { @content; }
    }
}

@mixin glow_in($color) {
    text-shadow:
        0 0 10px #000,
        0 0 16px #fff,
        0 0 20px $color,
        0 0 32px $color,
        0 0 48px $color,
        0 0 148px $color;
}

@mixin btn_glow_in($color: #fff) {
    border-color: $color;
    text-shadow: 2px 3px 24px $color;
    box-shadow: 0 0 10px 1px $color, inset 0 0 10px 1px $color;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}