.resources {

    &__hero {

        &-tiles-wrapper {
            position: relative;
            margin-top: 60px;
        }

        // &-tiles-title {
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     @include lazer;
        //     @include glow_in($purple);
        //     transform: translateX(-50%) rotate(-15deg) skew(-35deg,0deg);
        //     font-size: 30px;
        //     letter-spacing: 2px;
        // }

        &-tiles {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @include breakpoint(smallish) {
                display: none;
            }

            &--mobile {
                display: none;
                @include breakpoint(smallish) {
                    display: block;
                }
            }

            .slick-slide {
                transform: scale(.8);
                transition: transform .1s ease-in-out;
            }

            .slick-center {
                transform: scale(1);
            }
        }

        &-tile {
            flex-basis: 20%;
            margin: 30px;
            @include breakpoint(smallish) {
                margin: 12px;
                img {
                    display: inline-block;
                }
            }
        }

    }


}