.success-page {
    .hero {
        // background-image: url('/img/success/hero-bg.webp');
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        padding: 235px 60px 236px;
    
        h1 {
            max-width: 1200px;
            margin: 0 auto 35px;
            text-wrap: balance;
            font-weight: 400;
            font-size: 60px;
        }
    
        p {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -0.48px;
            text-wrap: balance;
    
            a {
                color: #66ffc8;
                text-decoration: underline;
            }
        }
    }
    
    @media(max-width: 1200px) {
        .hero {
            padding: 200px 40px 200px;
    
            h1 {
                font-size: 50px;
            }
        }
    }
    
    @media(max-width: 768px) {
        .hero {
            padding: 150px 40px 150px;
            background-position: center left;
    
            h1 {
                font-size: 40px;
            }
    
            p {
                font-size: 1.25rem;
            }
        }
    }
}