.landing-page {
  h2 {
    font-size: 2rem;
    text-wrap: balance;

    @media (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;

    @media (max-width: 767px) {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .button {
    border: 3px solid #f0f;
    color: $light_green;
    background: transparent;
    padding: 11px 21px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 144%;

    &:hover {
      background: $light_green;
      color: #000;
      border-color: $light_green;
    }

    &.pink {
      color: #fff;
      border-color: $dark_purple;
      background: $dark_purple;

      &:hover {
        background-color: #ff59ff;
        border-color: #ff59ff;
      }
    }
  }
  .font-horsemen {
    font-family: "Horsemen", sans-serif;
    line-height: 2.25;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
  }

  .font-kufam {
    font-family: "Kufam", sans-serif;
  }

  .text-green {
    color: $light_green;
  }

  .text-pink {
    color: $dark_purple;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
    height: 40px;
    width: 40px;
  }

  .slick-prev:hover path,
  .slick-next:hover path {
    fill: $dark_purple;
  }

  .slick-prev:hover rect,
  .slick-next:hover rect {
    stroke: $dark_purple;
  }

  .slick-prev {
    right: 82px;
    left: unset;
    transform: translateX(-52px);
  }

  .slick-next {
    right: 82px;
    transform: none;
  }

  .hero {
    background-image: url("/img/totality/hero-bg-desktop.webp");
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    padding: 175px 20px 149px;

    .pre-heading {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 12px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 46px;
    }

    .logo {
      max-width: min(100%, 1319px);
      margin-bottom: 108px;
    }

    .buttons-container {
      max-width: 757px;

      .buttons-row {
        gap: 20px;
        justify-content: center;
        margin-bottom: 32px;
      }

      p {
        color: $light_green;
      }
    }
  }

  .new-hope {
    padding: 52px 0 128px;

    h2 {
      font-size: 2.75rem;
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 80px;
    }

    .event-pass-slider {
      gap: 40px;
      flex-wrap: wrap;
    }

    .event-card {
      background: transparent;
      border: 3px solid #647488;
      border-radius: 0;
      padding: 28px;
      flex-basis: calc((100% - 80px) / 3);
      text-align: left;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 1.25rem;
        margin-bottom: 20px;
      }

      .card-text {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 30px;
      }

      ul {
        margin-bottom: 24px;

        li {
          font-size: 1rem;
          font-weight: 500;
          line-height: 125%;
          margin-bottom: 15px;
          list-style: none;
          padding-left: 32px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      a.button {
        margin-top: 24px;
        align-self: flex-start;
      }

      a:last-child {
        color: #fff;
        font-size: 0.875rem;
        margin-top: 12px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .sales-rebellion-way {
    gap: 67px;
    padding-bottom: 128px;

    .text-container {
      flex-basis: 376px;

      h2 {
        margin-bottom: 19px;
      }

      p {
        margin-bottom: 40px;
      }
    }

    .video-container {
      flex-basis: 866px;
    }

    .old-tv {
      background: url(/img/old-tv.png) no-repeat;
      background-size: contain;
      padding: 9% 25% 15% 6%;

      iframe {
        aspect-ratio: 4/3;
        border-radius: 80px;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  .sales-conference {
    padding-bottom: 128px;

    h2 {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 80px;
    }

    .tiles-section {
      padding-inline: 40px;
      text-align: left;
      max-width: 100%;

      h3 {
        letter-spacing: 20px;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 29px;
      }

      .d-md-flex {
        height: 500px;
        flex-wrap: wrap;
        gap: 24px;

        .item {
          max-width: calc((100% - 72px) / 4);
          border: 3px solid #647488;
          padding: 20px;

          .number {
            margin-bottom: 24px;
            font-weight: 600;
            letter-spacing: -0.4px;
          }

          h4 {
            font-family: Horsemen, sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            line-height: 2.25;
          }

          &:nth-of-type(1) h4,
          &:nth-of-type(4) h4,
          &:nth-of-type(5) h4,
          &:nth-of-type(8) h4 {
            color: $light_green;
          }

          &:nth-of-type(2) h4,
          &:nth-of-type(3) h4,
          &:nth-of-type(6) h4,
          &:nth-of-type(7) h4 {
            color: $dark_purple;
          }
        }
      }
    }
  }

  .guest-speakers {
    padding-bottom: 138px;

    h2 {
      margin-bottom: 60px;
    }

    .speakers-slider {
      margin-left: calc((100% - 1320px) / 2);
    }

    .speaker {
      margin-inline: 12px;

      a p {
        color: #fff;
        margin-top: 20px;
        font-weight: 700;
        letter-spacing: -0.4px;
      }
    }
  }

  .totality-sponsors {
    padding-bottom: 102px;

    h2 {
      margin-bottom: 40px;
    }

    .d-flex {
      gap: 38px;

      img {
        max-height: 100px;
        width: auto;
      }
    }
  }

  // ------ MODAL START ------
  &__modal {
    padding: 60px 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s;

    &.show-modal {
      opacity: 1;
      visibility: visible;
    }

    &--content {
      align-content: center;
      padding: 20px;
      max-width: 60%;
      background-color: #222;
      color: #fff;
      position: relative;
      top: 50%;
      left: 50%;
      border: 1px solid $neon_pink;
      border-radius: 10px;
      text-align: center;
      transform: translate(-50%, -50%);

      @include breakpoint(medium) {
        max-width: 100%;
        left: 0;
        transform: translate(0%, -50%);
      }

      img {
        border-radius: 10px;
      }
    }

    &--content-secondary {
      border: 1px solid $light-green;
    }

    &--close {
      position: absolute;
      right: 3%;
      color: #aaa;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }

      @include breakpoint(medium) {
        top: 5%;
        right: 5%;
      }
    }
  }
  // ------ MODAL END ------

  @media (max-width:1400px) {
    .new-hope {
      .event-pass-slider {
        .slick-track {
          display: flex;
          align-items: stretch;
        }

        .event-card {
          margin-inline: 10px;
          height: auto;
          flex-basis: unset;
        }
      }
    }

    .sales-conference {
      .tiles-section {
        .d-md-flex {
          height: 600px;
        }
      }
    }

    .guest-speakers {
      .speakers-slider {
        margin-left: calc((100% - 1140px) / 2);
      }
    }
  }

  @media (max-width: 1199px) {
    .sales-conference {
      .tiles-section {
        .d-md-flex {
          height: 750px;

          .item {
            max-width: calc((100% - 48px) / 3);

            &:nth-of-type(odd) h4{
              color: $light_green;
            }
  
            &:nth-of-type(even) h4 {
              color: $dark_purple;
            }
          }
        }
      }
    }

    .guest-speakers {
      .speakers-slider {
        margin-left: calc((100% - 960px) / 2);
      }
    }
  }

  @media (max-width: 991px) {
    .new-hope {
      .event-pass-slider {
        .event-card {
          margin-inline: 0;
        }

        .slick-prev {
          left: 50%;
        }

        .slick-next {
          left: 50%;
        }
      }
    }

    .sales-rebellion-way {
      padding: 0 20px 80px;
      flex-direction: column;
      gap: 64px;

      .text-container {
        text-align: center;
        flex-basis: unset;

        h2 {
          margin-bottom: 24px;
        }
      }

      .video-container {
        flex-basis: unset;
      }
    }
  
    .sales-conference {
      .tiles-section {
        .d-md-flex {
          height: 950px;

          .item {
            max-width: calc((100% - 24px) / 2);

            &:nth-of-type(1) h4,
            &:nth-of-type(3) h4,
            &:nth-of-type(6) h4,
            &:nth-of-type(8) h4 {
              color: $light_green;
            }
  
            &:nth-of-type(2) h4,
            &:nth-of-type(4) h4,
            &:nth-of-type(5) h4,
            &:nth-of-type(7) h4 {
              color: $dark_purple;
            }
          }
        }
      }
    }

    .guest-speakers {
      .speakers-slider {
        margin-left: calc((100% - 720px) / 2);
      }
    }
  }

  @media (max-width: 767px) {
    .hero {
      background-image: url("/img/totality/hero-bg-mobile.webp");
      padding: 87px 30px 53px;

      .pre-heading {
        font-size: 0.625rem;
        letter-spacing: 5px;
        line-height: normal;
        margin-bottom: 6.63px;
      }

      .logo {
        max-width: 100%;
        margin-bottom: 49px;
      }

      .buttons-container {
        .buttons-row {
          .button {
            align-self: center;
          }
        }

        p {
          color: #fff;
        }
      }
    }

    .new-hope {
      padding: 40px 20px 120px;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 64px;
      }
    }

    .sales-conference {
      padding: 0 0 80px;

      h2 {
        margin-bottom: 24px;
        padding-inline: 20px;
      }

      p {
        margin-bottom: 80px;
        padding-inline: 20px;
      }

      .tiles-section {
        text-align: center;
        padding-inline: 0;
        padding-left: 12px;

        h3 {
          font-size: 1.25rem;
          letter-spacing: 10px;
          margin-bottom: 39px;
        }

        .tiles-slider {
          height: unset;

          .slick-track {
            display: flex;
            align-items: stretch;
          }

          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline: 8px;
            height: auto;
            padding: 40px 20px;

            h4 {
              margin-bottom: 0;
            }

            &:nth-of-type(odd) h4 {
              color: $light_green;
            }

            &:nth-of-type(even) h4 {
              color: $dark_purple;
            }
          }
        }
      }
    }

    .guest-speakers {
      padding-bottom: 90px;

      h2 {
        margin-bottom: 40px;
      }

      .speakers-slider {
        margin-left: 0;

        .slick-prev,
        .slick-next {
          display: none !important;
        }
      }
    }

    .totality-sponsors {
      .d-flex {
        gap: 33px;

        img {
          max-width: 228px;
          height: auto;
        }
      }
    }
  }
}

.landing-page__modal--content {
  p {
    padding: 20px;
    @include noodle;
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: 700;
    line-height: 130%;

    @include breakpoint(medium) {
      padding: 16px;
      font-size: 20px;
      text-align: center;
    }
  }

  ul {
    @include noodle;
    list-style: none;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    li {
      font-size: 30px;
      letter-spacing: 1.3px;

      @include breakpoint(medium) {
        font-size: 28px;
      }
      @include breakpoint(small) {
        font-size: 24px;
      }
    }
  }
}
