<section class="hero hero--{{ page_id }}">
    
    {%- include "header.liquid" -%}
    
    {%- if landing_page == false -%}
        {%- if page.url == '/teams/' -%}
            {%- include "pages/teams/hero-content.liquid" -%}
        {%- elsif page.url == '/1x1/' -%}
            {%- include "pages/one-x-one/hero-content.liquid" -%}
        {%- else -%}
            {%- include "pages/hero-content.liquid" -%}
        {%- endif -%}
        
        <div class="hero__overlay"></div>
    {%- endif -%}

</section>
