<section class="hero hero--{{ page.page_id }}">
    
    {%- include header.html -%}
    
    {%- if page.landing_page == false -%}
        {%- if page.layout == 'pages/teams' -%}
            {%- include pages/teams/hero-content.html -%}
        {%- elsif page.layout == 'pages/1x1' -%}
            {%- include pages/one-x-one/hero-content.html -%}
        {%- else -%}
            {%- include pages/hero-content.html -%}
        {%- endif -%}
        
        <div class="hero__overlay"></div>
    {%- endif -%}

</section>
