---
layout: blank
permalink: /rebelresume/
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sales Rebellion's Rebel Resume</title>
  <meta name="keywords" content="">
  <meta name="description" content="Be a Sales Rebel!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="lp-version" content="v6.24.97">
  <style title="page-styles" type="text/css" data-page-type="main_desktop">
    body {
      color: #000;
    }

    a {
      color: #0000ff;
      text-decoration: none;
    }

    #lp-pom-text-12 {
      left: 23px;
      top: 135px;
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      z-index: 1;
      width: 1194px;
      height: 172px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-text-19 {
      left: 45px;
      top: 2428.800003051758px;
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      z-index: 5;
      width: 627px;
      height: 116px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-text-20 {
      left: 93px;
      top: 2493.800003051758px;
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      z-index: 4;
      width: 531px;
      height: 360px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-image-26 {
      left: 1158px;
      top: 3076.4000244140625px;
      display: block;
      background: rgba(255, 255, 255, 0);
      z-index: 3;
      position: absolute;
    }

    #lp-pom-image-30 {
      left: 15px;
      top: 13.599998474121094px;
      display: block;
      background: rgba(255, 255, 255, 0);
      z-index: 2;
      position: absolute;
    }

    #lp-pom-root {
      display: block;
      background: rgba(238, 238, 238, 1);
      border-style: none;
      margin: auto;
      padding-top: 0px;
      border-radius: 0px;
      min-width: 1240px;
      height: 3138px;
    }

    #lp-pom-block-28 {
      display: block;
      background: rgba(255, 255, 255, 1);
      border-style: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
      border-radius: 0px;
      width: 100%;
      height: 1px;
      position: relative;
    }

    #lp-pom-block-11 {
      display: block;
      background: rgba(5, 3, 39, 1);
      border-style: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
      border-radius: 0px;
      width: 100%;
      height: 2318px;
      position: relative;
    }

    #lp-pom-text-34 {
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      left: 101px;
      top: 893px;
      z-index: 6;
      width: 1029px;
      height: 256px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-text-35 {
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      left: 111px;
      top: 1171px;
      z-index: 7;
      width: 605px;
      height: 434px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-text-37 {
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      left: 54px;
      top: 1584px;
      z-index: 8;
      width: 1132px;
      height: 172px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-image-45 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 101px;
      top: 1426px;
      z-index: 10;
      position: absolute;
    }

    #lp-pom-image-46 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 101px;
      top: 1372px;
      z-index: 11;
      position: absolute;
    }

    #lp-pom-image-47 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 101px;
      top: 1311.199951171875px;
      z-index: 12;
      position: absolute;
    }

    #lp-pom-image-48 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 101px;
      top: 1255px;
      z-index: 13;
      position: absolute;
    }

    #lp-pom-image-51 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 101px;
      top: 1197px;
      z-index: 14;
      position: absolute;
    }

    #lp-pom-image-52 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 818px;
      top: 1102px;
      z-index: 15;
      position: absolute;
    }

    #lp-pom-video-59 {
      display: block;
      left: 110px;
      top: 1679.199951171875px;
      z-index: 17;
      width: 1020px;
      height: 574px;
      position: absolute;
    }

    #lp-code-60 {
      display: block;
      left: 734px;
      top: 1426px;
      z-index: 18;
      width: 402px;
      height: 80px;
      position: absolute;
    }

    #lp-pom-video-66 {
      display: block;
      left: 110px;
      top: 249px;
      z-index: 20;
      width: 1020px;
      height: 574px;
      position: absolute;
    }

    #lp-pom-block-31 {
      display: block;
      background: rgba(255, 255, 255, 0);
      background-image: url(/img/rebelresume/d43e20a6-webpage-background-grid-glue-dark-blue_10000000zk0nh00001v028.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-style: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
      border-radius: 0px;
      width: 100%;
      height: 819px;
      position: relative;
    }

    #lp-pom-text-32 {
      display: block;
      background: rgba(255, 255, 255, 0);
      border-style: none;
      border-radius: 0px;
      left: 45px;
      top: 2301.2000122070312px;
      z-index: 9;
      width: 1146px;
      height: 172px;
      transform: none;
      transform-origin: 0 0;
      position: absolute;
    }

    #lp-pom-image-53 {
      display: block;
      background: rgba(255, 255, 255, 0);
      left: 852px;
      top: 2443.2000122070312px;
      z-index: 16;
      position: absolute;
    }

    #lp-code-61 {
      display: block;
      left: 363px;
      top: 2932.199951171875px;
      z-index: 19;
      width: 513px;
      height: 80px;
      position: absolute;
    }

    #lp-pom-root .lp-positioned-content {
      top: 0px;
      width: 1240px;
      margin-left: -620px;
    }

    #lp-pom-block-28 .lp-pom-block-content {
      margin-left: auto;
      margin-right: auto;
      width: 1240px;
      height: 1px;
    }

    #lp-pom-block-11 .lp-pom-block-content {
      margin-left: auto;
      margin-right: auto;
      width: 1240px;
      height: 2318px;
    }

    #lp-pom-image-26 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 68px;
      height: 40px;
    }

    #lp-pom-image-26 .lp-pom-image-container img {
      width: 68px;
      height: 40px;
    }

    #lp-pom-image-30 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 55px;
      height: 38px;
    }

    #lp-pom-image-30 .lp-pom-image-container img {
      width: 55px;
      height: 38px;
    }

    #lp-pom-block-31 .lp-pom-block-content {
      margin-left: auto;
      margin-right: auto;
      width: 1240px;
      height: 819px;
    }

    #lp-pom-image-45 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-45 .lp-pom-image-container img {
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-46 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-46 .lp-pom-image-container img {
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-47 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-47 .lp-pom-image-container img {
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-48 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-48 .lp-pom-image-container img {
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-51 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-51 .lp-pom-image-container img {
      width: 18px;
      height: 17px;
    }

    #lp-pom-image-52 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 234px;
      height: 304px;
    }

    #lp-pom-image-52 .lp-pom-image-container img {
      width: 234px;
      height: 304px;
    }

    #lp-pom-image-53 .lp-pom-image-container {
      border-style: none;
      border-radius: 0px;
      width: 277px;
      height: 358px;
    }

    #lp-pom-image-53 .lp-pom-image-container img {
      width: 277px;
      height: 358px;
    }

    #lp-pom-root-color-overlay {
      position: absolute;
      background: none;
      top: 0;
      width: 100%;
      height: 3138px;
      min-height: 100%;
    }

    #lp-pom-block-28-color-overlay {
      position: absolute;
      background: none;
      height: 1px;
      width: 100%;
      ;
    }

    #lp-pom-block-11-color-overlay {
      position: absolute;
      background: none;
      height: 2318px;
      width: 100%;
      ;
    }

    #lp-pom-block-31-color-overlay {
      position: absolute;
      background: rgba(255, 255, 255, 0);
      height: 819px;
      width: 100%;
      ;
    }
  </style>
  <style title="page-styles" type="text/css" data-page-type="main_mobile">
    @media only screen and (max-width: 600px) {
      #lp-pom-root {
        display: block;
        background: rgba(238, 238, 238, 1);
        border-style: none;
        margin: auto;
        padding-top: 0px;
        border-radius: 0px;
        min-width: 320px;
        height: 2683px;
      }

      #lp-pom-block-28 {
        display: block;
        background: rgba(255, 255, 255, 1);
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 1px;
        position: relative;
      }

      #lp-pom-block-11 {
        display: block;
        background: rgba(5, 3, 39, 1);
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 1559px;
        position: relative;
      }

      #lp-pom-text-12 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 14px;
        top: 65px;
        z-index: 1;
        width: 545px;
        height: 258px;
        transform: scale(0.5353728489483748);
        transform-origin: 0 0;
        -webkit-transform: scale(0.5353728489483748);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-image-30 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 141px;
        top: 16px;
        z-index: 2;
        position: absolute;
      }

      #lp-pom-text-34 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 15px;
        top: 409px;
        z-index: 6;
        width: 487px;
        height: 448px;
        transform: scale(0.5882352941176471);
        transform-origin: 0 0;
        -webkit-transform: scale(0.5882352941176471);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-text-35 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 25px;
        top: 679px;
        z-index: 7;
        width: 589px;
        height: 434px;
        transform: scale(0.5);
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-text-37 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 2.5px;
        top: 1020px;
        z-index: 8;
        width: 630px;
        height: 172px;
        transform: scale(0.5);
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-image-45 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 15px;
        top: 780px;
        z-index: 10;
        position: absolute;
      }

      #lp-pom-image-46 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 15px;
        top: 749px;
        z-index: 11;
        position: absolute;
      }

      #lp-pom-image-47 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 15px;
        top: 807px;
        z-index: 12;
        position: absolute;
      }

      #lp-pom-image-48 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 15px;
        top: 691px;
        z-index: 13;
        position: absolute;
      }

      #lp-pom-image-51 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 15px;
        top: 720px;
        z-index: 14;
        position: absolute;
      }

      #lp-pom-image-52 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 43px;
        top: 1133px;
        z-index: 15;
        position: absolute;
      }

      #lp-pom-video-59 {
        display: block;
        left: 20px;
        top: 836.199951171875px;
        z-index: 17;
        width: 284px;
        height: 160px;
        position: absolute;
      }

      #lp-code-60 {
        display: block;
        left: 20px;
        top: 1475px;
        z-index: 18;
        width: 282px;
        height: 80px;
        position: absolute;
      }

      #lp-pom-video-66 {
        display: block;
        left: 4px;
        top: 208px;
        z-index: 20;
        width: 316px;
        height: 178px;
        position: absolute;
      }

      #lp-pom-text-19 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 0px;
        top: 2077px;
        z-index: 5;
        width: 636px;
        height: 58px;
        transform: scale(0.5);
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-text-20 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 16.5px;
        top: 2120px;
        z-index: 4;
        width: 410px;
        height: 490px;
        transform: scale(0.7);
        transform-origin: 0 0;
        -webkit-transform: scale(0.7);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-image-26 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 126px;
        top: 2631px;
        z-index: 3;
        position: absolute;
      }

      #lp-pom-block-31 {
        display: block;
        background: rgba(255, 255, 255, 0);
        background-image: url(/img/rebelresume/d43e20a6-webpage-background-grid-glue-dark-blue_10000000ek0r80ai000028.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 1123px;
        position: relative;
      }

      #lp-pom-text-32 {
        display: block;
        background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 20px;
        top: 1610px;
        z-index: 9;
        width: 452px;
        height: 258px;
        transform: scale(0.6194690265486725);
        transform-origin: 0 0;
        -webkit-transform: scale(0.6194690265486725);
        -webkit-transform-origin: 0 0;
        position: absolute;
      }

      #lp-pom-image-53 {
        display: block;
        background: rgba(255, 255, 255, 0);
        left: 61px;
        top: 1783px;
        z-index: 16;
        position: absolute;
      }

      #lp-code-61 {
        display: block;
        left: 20px;
        top: 2504px;
        z-index: 19;
        width: 280px;
        height: 95px;
        position: absolute;
      }

      body {
        color: #000;
      }

      a {
        color: #0000ff;
        text-decoration: none;
      }

      #lp-pom-root .lp-positioned-content {
        top: 0px;
        width: 320px;
        margin-left: -160px;
      }

      #lp-pom-block-28 .lp-pom-block-content {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 1px;
      }

      #lp-pom-block-11 .lp-pom-block-content {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 1559px;
      }

      #lp-pom-image-26 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 68px;
        height: 40px;
      }

      #lp-pom-image-26 .lp-pom-image-container img {
        width: 68px;
        height: 40px;
      }

      #lp-pom-image-30 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 38px;
        height: 26px;
      }

      #lp-pom-image-30 .lp-pom-image-container img {
        width: 38px;
        height: 26px;
      }

      #lp-pom-block-31 .lp-pom-block-content {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 1123px;
      }

      #lp-pom-image-45 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-45 .lp-pom-image-container img {
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-46 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-46 .lp-pom-image-container img {
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-47 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-47 .lp-pom-image-container img {
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-48 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-48 .lp-pom-image-container img {
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-51 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-51 .lp-pom-image-container img {
        width: 10px;
        height: 9px;
      }

      #lp-pom-image-52 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 234px;
        height: 304px;
      }

      #lp-pom-image-52 .lp-pom-image-container img {
        width: 234px;
        height: 304px;
      }

      #lp-pom-image-53 .lp-pom-image-container {
        border-style: none;
        border-radius: 0px;
        width: 197px;
        height: 254px;
      }

      #lp-pom-image-53 .lp-pom-image-container img {
        width: 197px;
        height: 254px;
      }

      #lp-pom-root-color-overlay {
        position: absolute;
        background: none;
        top: 0;
        width: 100%;
        height: 2683px;
        min-height: 100%;
      }

      #lp-pom-block-28-color-overlay {
        position: absolute;
        background: none;
        height: 1px;
        width: 100%;
        ;
      }

      #lp-pom-block-11-color-overlay {
        position: absolute;
        background: none;
        height: 1559px;
        width: 100%;
        ;
      }

      #lp-pom-block-31-color-overlay {
        position: absolute;
        background: rgba(255, 255, 255, 0);
        height: 1123px;
        width: 100%;
        ;
      }
    }
  </style><!-- lp:insertions start head -->
  <link href="/assets/css/rebel-resume.css" rel="stylesheet" media="screen" type="text/css" />
  <meta property='og:title' content='' />
  <script type="text/javascript">window.ub = { "page": { "id": "cb420ca6-9e9b-4363-a005-0627edf9ab81", "variantId": "a", "usedAs": "main", "name": "Purchase - Rebel Resume", "url": "https://thesalesrebellion.com/rebelresume/", "dimensions": { "desktop": { "height": 3138, "width": 1240 }, "mobile": { "height": 2683, "width": 320 }, "mobileMaxWidth": 600 } }, "hooks": { "beforeFormSubmit": [], "afterFormSubmit": [] } };</script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <style>
    .btn {
      width: 100%;
      /* padding: 22px 13.75vw; */
      border: 2px solid #ff1744;
      border-radius: 4px;
      font-size: 2em;
      Font-weight: bold;
      font-family: Oswald;
      position: relative;
      box-shadow: 1px 2px 6px #000000;
      color: hsl(0, 0%, 100%);
      background-color: #050327;
      transition: 0s;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: 1;
    }

    .btn:hover {
      cursor: pointer;
      animation-duration: 0.2s;
      animation-iteration-count: 3;
      animation-name: rotate;
      animation-timing-function: linear;
    }

    .btn:active {
      transition: 0.1s;
      transform: scale(0.993);
      color: hsl(0, 0%, 93%);
    }

    .rotate:hover {
      animation-duration: 0.45s;
      animation-iteration-count: 2;
      animation-name: rotate;
      animation-timing-function: linear;
    }

    @keyframes rotate {
      0% {
        transform: rotateZ(0deg);
      }

      25% {
        transform: rotateZ(0.5deg);
      }

      75% {
        transform: rotateZ(-0.5deg);
      }

      100% {
        transform: rotateZ(0deg);
      }
    }

    .bounce:hover {
      animation-duration: 0.45s;
      animation-iteration-count: 2;
      animation-name: bounce;
      animation-timing-function: linear;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-1px);
      }

      75% {
        transform: translateY(1px);
      }

      100% {
        transform: translateY(0);
      }
    }

    @media only screen and (max-width: 550px) {
      .btn {
        /* FOR MOBILE FONT SIZE*/
        font-size: 1.3rem;
      }
    }
  </style>
  <!-- lp:insertions end head -->
  <script type='text/javascript'>(function () {
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      window.ub.googleAnalyticsTrackingId = 'UA-135473528-1';

      window.ga('create', window.ub.googleAnalyticsTrackingId, 'auto', {
        siteSpeedSampleRate: 100
      });

      window.eventTracker = {
        trackOne: function (selector, category, action, label) {
          return Array.prototype.slice.call(document.querySelectorAll(selector)).forEach(function (element) {
            element.dataset.eventCategory = category || '';
            element.dataset.eventAction = action || '';
            element.dataset.eventLabel = label || '';
          });
        }
      };

    }).call(this);
  </script>
</head>

<body class="lp-pom-body"><!-- lp:insertions start body:before --><!-- lp:insertions end body:before -->



  <div class="lp-element lp-pom-root" id="lp-pom-root">
    <div id="lp-pom-root-color-overlay"></div>
    <div class="lp-positioned-content">
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-12">
        <p style="text-align: center; line-height: 86px;"><span
            style="font-family: &quot;Fjalla One&quot;; font-weight: 400; font-style: normal; color: rgb(255, 255, 255); font-size: 72px;"><strong><u>THE
                SALES REBELLION'S REBEL RESUME</u></strong></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-19">
        <p style="text-align: center; line-height: 58px;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 58px; color: rgb(255, 255, 255); background-color: rgba(255, 23, 68, 0);"><strong><u>Sales
                Outreach For Rebels</u></strong></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-20">
        <p style="line-height: 26px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 24px; color: rgb(255, 255, 255); background-color: rgba(255, 23, 68, 0);">The
            Rebel Resume' has been delighting HR Directors and Decision Makers alike since 2010. Whatever vertical you
            serve in whatever industry your prospect may be the Rebel Resume' is sure to get you the attention you
            desire... What you do with it after that is up to you.</span></p>
        <p style="line-height: 26px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 24px; color: rgb(255, 255, 255); background-color: rgba(255, 23, 68, 0);">The
            Question is... Are you Rebellious enough to #ChangeTheGame and #ChooseLegendary?</span></p>
        <p style="line-height: 26px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 24px; color: rgb(255, 255, 255); background-color: rgba(255, 23, 68, 0);">Who
            needs a 27-touch sales sequence when you can set meetings with one? The Rebel Resume' can stand alone as a
            sales tool that gets the job done, or it can be part of an entire campaign to create a sales
            experience.</span></p>
        <p style="line-height: 26px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 24px; color: rgb(255, 255, 255); background-color: rgba(255, 23, 68, 0);">#ChangeTheGame
            Today!</span></p>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-26">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/5ed5369a-tsr-logos-05_101w014000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/5ed5369a-tsr-logos-05_103s028000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/5ed5369a-tsr-logos-05_105o03c000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/5ed5369a-tsr-logos-05_101w014000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/5ed5369a-tsr-logos-05_103s028000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/5ed5369a-tsr-logos-05_105o03c000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-30">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/89ef535f-logo_101j012000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/89ef535f-logo_1032024000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/89ef535f-logo_104l036000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/89ef535f-logo_101200q000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/89ef535f-logo_102401g000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/89ef535f-logo_1036026000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-32">
        <p style="line-height: 86px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 72px; color: rgb(255, 255, 255);"><strong><u>GET
                THE REBEL RESUME FOR ONLY $97</u></strong></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-34">
        <p style="line-height: 32px;"><span
            style="font-size: 28px; font-family: &quot;Fjalla One&quot;; font-weight: 400; font-style: normal; color: rgb(255, 255, 255);">The
            Rebel Resume is interrupt marketing at its finest. Aligning this Market Tool with the proper cadence and you
            will find opportunities quickly arise. Cut your sales cycle in half by showing value upfront in your sales
            outreach. It's simple...</span></p>
        <p style="line-height: 32px;"><span style="font-size: 28px;"><span style="color: rgb(255, 255, 255);"><span
                style="font-style: normal;"><span style="font-weight: 400;"><span style="font-family: Fjalla One;">Apply
                    for the position of vendor and start prospecting like Sales Rebel... You are sure to have
                    conversations like never before! Whether it's a cold call or you're trying to jump-start a deal that
                    has stalled the Rebel Resume is a game changer!</span></span></span></span></span></p>
        <p style="line-height: 32px;"><span
            style="font-size: 28px; font-family: &quot;Fjalla One&quot;; font-weight: 400; font-style: normal; color: rgb(255, 255, 255);"><u>Here's
              what you get:</u></span></p>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-35">
        <ul style="line-height: 58px;">
          <li style="line-height: 58px;"><span
              style="font-weight: 400; font-family: &quot;Fjalla One&quot;; font-size: 36px; color: rgb(255, 255, 255);">The
              Rebel Resume' Complete Tutorial</span></li>
          <li style="line-height: 58px;"><span style="font-size: 36px;"><span
                style="font-weight: 400; font-family: &quot;Fjalla One&quot;; color: rgb(255, 255, 255);">The Rebel
                Resume' Cover Letter Template</span></span></li>
          <li style="line-height: 58px;"><span style="font-size: 36px;"><span
                style="font-weight: 400; font-family: &quot;Fjalla One&quot;; color: rgb(255, 255, 255);">Eight Rebel
                Resume' Templates</span></span></li>
          <li style="line-height: 58px;"><span style="font-size: 36px;"><span
                style="font-weight: 400; font-family: &quot;Fjalla One&quot;; color: rgb(255, 255, 255);">Ideas for a
                continuing Resume' Campaign</span></span></li>
          <li style="line-height: 58px;"><span style="font-size: 36px;"><span
                style="font-weight: 400; font-family: &quot;Fjalla One&quot;; color: rgb(255, 255, 255);">Delivery And
                Follow Up Cadences</span></span></li>
          <li style="line-height: 58px;"><br></li>
          <li style="line-height: 58px;"><br></li>
        </ul>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-37">
        <p style="line-height: 86px; text-align: center;"><span
            style="font-weight: 400; font-family: &quot;Fjalla One&quot; font-size: 72px; color: rgb(255, 255, 255)"><strong><u>CHOOSE
                LEGENDARY &amp; CHANGE THE GAME</u></strong></span></p>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-45">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/45e80704-white-bullet-point_100i00h000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/45e80704-white-bullet-point_101000y000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/45e80704-white-bullet-point_101i01f000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/45e80704-white-bullet-point_100a009000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/45e80704-white-bullet-point_100k00i000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/45e80704-white-bullet-point_100u00r000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-46">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/45e80704-white-bullet-point_100i00h000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/45e80704-white-bullet-point_101000y000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/45e80704-white-bullet-point_101i01f000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/45e80704-white-bullet-point_100a009000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/45e80704-white-bullet-point_100k00i000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/45e80704-white-bullet-point_100u00r000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-47">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/45e80704-white-bullet-point_100i00h000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/45e80704-white-bullet-point_101000y000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/45e80704-white-bullet-point_101i01f000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/45e80704-white-bullet-point_100a009000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/45e80704-white-bullet-point_100k00i000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/45e80704-white-bullet-point_100u00r000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-48">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/45e80704-white-bullet-point_100i00h000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/45e80704-white-bullet-point_101000y000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/45e80704-white-bullet-point_101i01f000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/45e80704-white-bullet-point_100a009000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/45e80704-white-bullet-point_100k00i000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/45e80704-white-bullet-point_100u00r000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-51">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/45e80704-white-bullet-point_100i00h000000000000028.png"
            data-src-desktop-2x="/img/rebelresume/45e80704-white-bullet-point_101000y000000000000028.png"
            data-src-desktop-3x="/img/rebelresume/45e80704-white-bullet-point_101i01f000000000000028.png"
            data-src-mobile-1x="/img/rebelresume/45e80704-white-bullet-point_100a009000000000000028.png"
            data-src-mobile-2x="/img/rebelresume/45e80704-white-bullet-point_100k00i000000000000028.png"
            data-src-mobile-3x="/img/rebelresume/45e80704-white-bullet-point_100u00r000000000000028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-52">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_106i08n06i08g000007028.png"
            data-src-desktop-2x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_10d00ha0d00gw00000e028.png"
            data-src-desktop-3x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_10ji0px0ji0pc00000l028.png"
            data-src-mobile-1x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_106i08n06i08g000007028.png"
            data-src-mobile-2x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_10d00ha0d00gw00000e028.png"
            data-src-mobile-3x="/img/rebelresume/4c6fa63e-screen-shot-2020-03-27-at-3-16-34-pm_10ji0px0ji0pc00000l028.png">
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-53">
        <div class="lp-pom-image-container" style="overflow: hidden;"><img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""
            data-src-desktop-1x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_107p09y00000000000001o.jpg"
            data-src-desktop-2x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_10fe0jw00000000000001o.jpg"
            data-src-desktop-3x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_10n30tu00000000000001o.jpg"
            data-src-mobile-1x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_105h07200000000000001o.jpg"
            data-src-mobile-2x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_10ay0e400000000000001o.jpg"
            data-src-mobile-3x="/img/rebelresume/86203cac-rebel-resume-pdf-cover-snapshot_10gf0l600000000000001o.jpg">
        </div>
      </div>
      <div class="lp-element lp-pom-video" id="lp-pom-video-59"><!-- lp:insertions start div#lp-pom-video-59 --><iframe
          src="https://www.youtube.com/embed/bfDsiwNdgd0?wmode=opaque" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="" width="100%" height="100%"></iframe><!-- lp:insertions end div#lp-pom-video-59 --></div>
      <div class="lp-element lp-code" id="lp-code-60"><!-- lp:insertions start div#lp-code-60 --><button role="link"
          type="button" class="btn">REBEL RESUME ONLY $97</button>
        <div id="error-message"></div><!-- lp:insertions end div#lp-code-60 -->
      </div>
      <div class="lp-element lp-code" id="lp-code-61"><!-- lp:insertions start div#lp-code-61 --><button role="link"
          type="button" class="btn">GET THE REBEL RESUME ONLY $97</button>
        <div id="error-message"></div>
        <!-- lp:insertions end div#lp-code-61 -->
      </div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-28">
      <div id="lp-pom-block-28-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-11">
      <div id="lp-pom-block-11-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
    <div class="lp-element lp-pom-block" id="lp-pom-block-31">
      <div id="lp-pom-block-31-color-overlay"></div>
      <div class="lp-pom-block-content"></div>
    </div>
  </div><!-- lp:insertions start body:after -->
  <script src="https://js.stripe.com/v3"></script>

  <script>
    ; (() => {
      document.querySelectorAll('.btn').forEach(item => {
        item.addEventListener('click', () => {
          checkout()
        })
      })
    })()

    const checkout = () => {
      const stripe = Stripe('pk_live_76o7Q17lfv1eFl5I74ajlWi5003dMoTD0q')

      stripe
        .redirectToCheckout({
          lineItems: [
            // ============ REPLACE THIS PRICE WITH SPECIFIC PRODUCT PRICE //
            // =========================================================== //
            { price: 'price_1ILtaEIa1dfERqdGCkJs3PED', quantity: 1 }
            // =========================================================== //
            // ============ REPLACE THIS PRICE WITH SPECIFIC PRODUCT PRICE //
          ],
          // UPDATE MODE TO EITHER subscription, or payment //
          mode: 'payment',
          // ============ REPLACE SPECIFIC REDIRECT =========== //
          successUrl: `${window.location.protocol}//join.thesalesrebellion.com/rrty`,
          // =========================================================== //
          cancelUrl: `${window.location.protocol}//www.thesalesrebellion.com/canceled`
        })
        .then(function (result) {
          if (result.error) {
            const displayError = document.getElementById('error-message')
            displayError.textContent = result.error.message
          }
        })
    }
  </script>
  <script async src="/assets/rebel-resume.js" type="text/javascript"></script>
</body>

</html>
