.testimonials {

    position: relative;

	background-image: url(/assets/images/space_bg_3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

    padding: 60px 0;

    text-align: center;

    .container {
        padding-bottom: 30px;
    }

    .overlay {
        &--bottom {
            height: 30px;
        }
    }

    &__heading {
        @include lazer;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: 1.5px;
        margin-bottom: 36px;
    }

    &__content {
        display: flex;
    }

    &__video-wrapper {
        box-shadow: 0 0 16px 0px $blue;
    }

    &__image-wrapper {
        margin-right: 50px;
        @include breakpoint(medium) {
            display: none;
        }
    }

}