.testimonials {

    position: relative;

	// background-image: url(/assets/images/space_bg_3.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;

    padding: 60px 0;
    padding-top: 100px;

    text-align: center;

    .container {
        padding-bottom: 30px;
        max-width: 1200px;
    }

    .overlay {
        &--bottom {
            height: 30px;
        }
    }

    &__heading {
        @include lazer;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: 1.5px;
        margin-top: 0;
        margin-bottom: 36px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__video-wrapper {
        box-shadow: 0 0 16px 0px $blue;
    }

    &__image-wrapper {
        margin-right: 40px;
        flex-basis: 45%;
        @include breakpoint(medium) {
            display: none;
        }
    }

    &__image {
        transform: rotate(-8deg);
    }

}