---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" -%}
<body{% if class %} class="{{ class }}"{% endif %}>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VKQJGV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {{ content }}

    {%- if landing_page == false -%}
      {%- include "footer.liquid" %}
    {%- endif -%}
    
    <script src="/js/scripts.js"></script>

    {%- if has_modal == true -%}
      {%- include "micromodal.liquid" -%}
      <script>
        document.addEventListener("DOMContentLoaded", function() {

          try {

            MicroModal.init({
              awaitCloseAnimation: true,
            });

          } catch (e) {
            console.log("micromodal error: ", e);
          }

        });
      </script>
    {%- endif -%}

    {%- if has_carousel == true -%}

      <script>

        document.addEventListener("DOMContentLoaded", function() {

          $('.slick-fade').slick({
          arrows: false,
          dots: false,
          autoplay: true,
          autoplaySpeed: 9000,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          fade: true,
          speed: 1,
          cssEase: 'linear'
        });

        $('.slick-me').slick({
            arrows: false,
            dots: true,
            customPaging: function(slick,index) {
              return '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle" width="44" height="44" viewBox="0 0 100 100" fill="#f77aff" stroke-width="0" stroke="#f77aff" fill="none" stroke-linecap="round" stroke-linejoin="round"><polygon points="50 15, 100 100, 0 100"/></svg>';
            }
        });

        $('.slick-me-center').slick({
            arrows: false,
            dots: true,
            centerMode: true,
            centerPadding: '90px',
            slidesToShow: 1,
            customPaging: function(slick,index) {
              return '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle" width="44" height="44" viewBox="0 0 100 100" fill="#f77aff" stroke-width="0" stroke="#f77aff" fill="none" stroke-linecap="round" stroke-linejoin="round"><polygon points="50 15, 100 100, 0 100"/></svg>';
            }
        });

        $('.slick-me-center-50').slick({
            arrows: false,
            dots: true,
            centerMode: true,
            centerPadding: '50px',
            slidesToShow: 1,
            customPaging: function(slick,index) {
              return '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle" width="44" height="44" viewBox="0 0 100 100" fill="#f77aff" stroke-width="0" stroke="#f77aff" fill="none" stroke-linecap="round" stroke-linejoin="round"><polygon points="50 15, 100 100, 0 100"/></svg>';
            }
        });

        $('.tor-slider').slick({
        infinite: true,
        slidesToShow: 4,        
        slidesToScroll: 1,
        autoplay: false,
        dots: false, 
        arrows: true,
        prevArrow: '<svg class="slick-prev" alt="Previous" width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="37" width="36" height="38" rx="18" transform="rotate(-90 1 37)" stroke="#66FFC8" stroke-width="2"/><path d="M28 20L28 18L16 18L16 16L14 16L14 18L12 18L12 20L14 20L14 22L16 22L16 20L28 20ZM18 24L16 24L16 22L18 22L18 24ZM18 24L20 24L20 26L18 26L18 24ZM18 14L16 14L16 16L18 16L18 14ZM18 14L20 14L20 12L18 12L18 14Z" fill="#66FFC8"/></svg>',
        nextArrow: '<svg class="slick-next" alt="Next" width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="39" y="1" width="36" height="38" rx="18" transform="rotate(90 39 1)" stroke="#66FFC8" stroke-width="2"/><path d="M12 18L12 20L24 20L24 22L26 22L26 20L28 20L28 18L26 18L26 16L24 16L24 18L12 18ZM22 14L24 14L24 16L22 16L22 14ZM22 14L20 14L20 12L22 12L22 14ZM22 24L24 24L24 22L22 22L22 24ZM22 24L20 24L20 26L22 26L22 24Z" fill="#66FFC8"/></svg>',
        responsive: [ 
            {
                breakpoint: 1400,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            }
        ]
    });
      });

      </script>
    {%- endif -%}

    <script>var continuallySettings = { appID: "g4xrgm22rn3z" };</script><script src="https://cdn-app.continual.ly/js/embed/continually-embed.latest.min.js"></script>

    {%- if has_video == true -%}
      {% include "youtube_api.liquid" %}
    {%- endif -%}
</body>
</html>
