<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>

    {{ content }}

    {%- include footer.html -%}

    <script src="{{- '/assets/js/jquery.js' -}}"></script>
    {%- if page.has_carousel == true -%}
        <script src="{{- '/assets/js/slick.min.js' -}}"></script>
        <script>
            $('.slick-me').slick({
                arrows: false,
                dots: true
            });

            $('.slick-me-center').slick({
                arrows: false,
                dots: true,
                centerMode: true,
                centerPadding: '90px',
                slidesToShow: 1
            });
        </script>
    {%- endif -%}
    <script src="{{- '/assets/js/scripts.js' -}}"></script>

    {%- if page.has_video == true -%}
        {%- include youtube_api.html -%}
    {%- endif -%}

</body>
</html>