---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" -%}
<body{% if class %} class="{{ class }}"{% endif %}>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VKQJGV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {{ content }}

    {%- if landing_page == false -%}
      {%- include "footer.liquid" %}
    {%- endif -%}
    
    <script src="/js/scripts.js"></script>

    {%- if has_modal == true -%}
      {%- include "micromodal.liquid" -%}
      <script>
        document.addEventListener("DOMContentLoaded", function() {

          try {

            MicroModal.init({
              awaitCloseAnimation: true,
            });

          } catch (e) {
            console.log("micromodal error: ", e);
          }

        });
      </script>
    {%- endif -%}

    <script>var continuallySettings = { appID: "g4xrgm22rn3z" };</script><script src="https://cdn-app.continual.ly/js/embed/continually-embed.latest.min.js"></script>

    {%- if has_video == true -%}
      {% include "youtube_api.liquid" %}
    {%- endif -%}
</body>
</html>
