<div id="learnMoreTotality" class="landing-page__modal">
    <div class="landing-page__modal--content" style="max-width:450px;padding:0">
        <span class="landing-page__modal--close">&times;</span>
        <a href="/totality/">
            <img src="/img/totality-cta.webp" style="border-radius:10px">
        </a>
    </div>
</div>
