<section class="section testimonials">

    <div class="container">

        {%- if testimonials.heading and testimonials.heading.size > 0 -%}
            <h2 class="testimonials__heading">{{- testimonials.heading -}}</h2>
        {%- endif -%}

        <div class="testimonials__content">

            <div class="testimonials__image-wrapper">
                <img class="testimonials__image" src="{{ testimonials.image.path }}" alt="{{- testimonials.image.alt_text -}}">
            </div>

            <div class="testimonials__video-wrapper video-wrapper">
                {%- include "video.liquid", video_id: testimonials.video_id -%}
            </div>

        </div>

    </div>

</section>
